/**
 * @name Catppuccin
 * @author Catppuccin
 * @version 0.0.2
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin
 * @source https://github.com/catppuccin/discord
**/

.theme-dark {
    --header-primary: #D9E0EE !important;
    --background-primary: #1E1E2E !important;
    --background-primary-alt: #1E1E2E !important;
    --background-mobile-primary: #1E1E2E !important;
    --background-secondary: #1A1826 !important;
    --background-secondary-alt: #1A1826 !important;
    --background-mobile-secondary: #1A1826 !important;
    --background-tertiary: #161320 !important;
    --background-floating: #1E1E2E !important;
    --channeltextarea-background: #302D41 !important;
    --activity-card-background: #1E1E2E !important;
    --scrollbar-thin-thumb: #161320 !important;
    --scrollbar-thin-track: #161320 !important;
    --scrollbar-auto-thumb: #161320 !important;
    --scrollbar-auto-track: #302D41 !important;
    --scrollbar-auto-scrollbar-color-thumb: #302D41 !important;
    --scrollbar-auto-scrollbar-color-track: #302D41 !important;
    --deprecated-store-bg: #161320 !important;
    --interactive-normal: #D9E0EE !important;
}

/* Home */
.container-2cd8Mz {
    background-color: #1E1E2E !important;
}

/* Autocomplete popup */
.autocomplete-3NRXG8 {
    background-color: #1E1E2E !important;
}

.wrapper-1NNaWG.categoryHeader-OpJ1Ly {
    background-color: #1E1E2E !important;
}

.autocomplete-3NRXG8 {
    background-color: #1E1E2E !important;
}

/* Autocomplete popup selection */
.selected-3H3-RC {
    background-color: #302D41 !important;
}

/* Search: Items */
.container-2McqkF{
    background-color: #302D41 !important;
}

.searchOption-351dTI:hover{
    background-color: #161320 !important;
}

/* Search: No shadows */
.option-2KkUJO:after{
    background: none !important;
}

/* Search: in-section */
.queryContainer-ZunrLZ{
   background-color: #302D41 !important;
}

/* Search: History */
.option-2KkUJO:hover{
background-color: #161320 !important;
}

/* IN ORDER: New-Unreads-Btn,jumpToPresentBar,CTRL+K,searchFilterOption */
.bar-2eAyLE,.jumpToPresentBar-1cEnH0,.input-3r5zZY,.searchFilter-2UfsDk{
    background-color: #302D41 !important;
}

/**
 * Uncomment to change the home button to a GIF of a cat popping
div[aria-label = "Home"] > div:hover {
    background-image: url("https://raw.githubusercontent.com/catppuccin/discord/master/assets/popcat.gif");
    background-blend-mode: normal;
    background-size: contain;
}

div[aria-label = "Home"] > div:hover > svg {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

div[aria-label = "Home"] > div > svg {
    color: white;
    stroke: black;
    stroke-width: 0.3px;
}
**/
