/**
 * @name Catppuccin
 * @author Catppuccin
 * @version 0.0.4
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin
 * @source https://github.com/catppuccin/discord
**/

.theme-dark {
    --header-primary: #D9E0EE !important;
    --background-primary: #1E1E2E !important;
    --background-primary-alt: #1E1E2E !important;
    --background-mobile-primary: #1E1E2E !important;
    --background-secondary: #1A1826 !important;
    --background-secondary-alt: #1A1826 !important;
    --background-mobile-secondary: #1A1826 !important;
    --background-tertiary: #161320 !important;
    --background-floating: #1E1E2E !important;
    --background-mentioned: rgba(221, 182, 242, 0.1) !important;
    --background-mentioned-hover: rgba(245, 194, 231, 0.2) !important;
    --background-accent: #6E6C7E !important;
    --background-modifier-selected: #1E1E2E !important;
    --text-normal: #D9E0EE !important;
    --text-muted: #6E6C7E !important;
    --channels-default: #6E6C7E !important;
    --channeltextarea-background: #302D41 !important;
    --activity-card-background: #1E1E2E !important;
    --interactive-normal: #D9E0EE !important;
    --interactive-muted: #6E6C7E !important;
    --interactive-hover: #C3BAC6 !important;
    --scrollbar-thin-thumb: #161320 !important;
    --scrollbar-thin-track: #161320 !important;
    --scrollbar-auto-thumb: #161320 !important;
    --scrollbar-auto-track: #302D41 !important;
    --scrollbar-auto-scrollbar-color-thumb: #302D41 !important;
    --scrollbar-auto-scrollbar-color-track: #302D41 !important;
    --deprecated-store-bg: #161320 !important;
}

/* Mentions */
.mentioned-Tre-dv .mention.interactive {
    color: #D9E0EE !important;
}

.mentioned-Tre-dv::before {
    background-color: #D9E0EE !important;
}

/* Home */
.container-2cd8Mz {
    background-color: #1E1E2E !important;
}

/* Autocomplete popup */
.autocomplete-3NRXG8 {
    background-color: #1E1E2E !important;
}

.wrapper-1NNaWG.categoryHeader-OpJ1Ly {
    background-color: #1E1E2E !important;
}

.autocomplete-3NRXG8 {
    background-color: #1E1E2E !important;
}

/* Autocomplete popup selection */
.selected-3H3-RC {
    background-color: #302D41 !important;
}

/* Search: Items */
.container-2McqkF {
    background-color: #161320 !important;
}

.searchOption-351dTI:hover {
    background-color: #302D41 !important;
}

/* Search: No shadows */
.option-2KkUJO:after {
    background: none !important;
}

/* Search: in-section */
.queryContainer-ZunrLZ {
   background-color: #161320 !important;
}

/* Search: History */
.option-2KkUJO:hover {
background-color: #302D41 !important;
}

/* IN ORDER: New-Unreads-Btn,jumpToPresentBar,CTRL+K,searchFilterOption */
.bar-2eAyLE,.jumpToPresentBar-1cEnH0,.input-3r5zZY,.searchFilter-2UfsDk {
    background-color: #6E6C7E !important;
}

/* New Message Bar */
.newMessagesBar-1hF-9G:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #6E6C7E !important;
    border-radius:0 0 3px 3px;
}

/* New Messages Flag */
.isUnread-3Lojb- {
    border-color: #6E6C7E !important;
}
.unreadPill-3nEWYM {
    background-color: #6E6C7E !important;
}
.unreadPillCapStroke-1nE1Q8 {
    fill: #6E6C7E !important;
    color: #6E6C7E !important;
}

.isUnread-3Lojb- .content-3spvdd {
    color: #6E6C7E !important;
}

/* URLs */
.button-1kija8,.buttonIcon-1TxM6f {
    color: #89DCEB !important;
}

.fakeLink-2FvUR7,.embed-hKpSrO>.embedTitleLink-1QbYA-,.markup-eYLPri a,.content-s2SEQO a,.colorLink-2apWfY {
    color: #89DCEB !important;
}

.card-16VQ8C a {
    color: #89DCEB !important;
}

.lookLink-15mFoz.colorLink-1Md3RZ {
    color: #89DCEB !important;
}

/* Selection */
::-moz-selection {
    color: #D9E0EE !important;
    background: #575268 !important;
}
::selection {
    color: #D9E0EE !important;
    background: #575268 !important;
}

/**
 * Uncomment to change the home button to a GIF of a cat popping
div[aria-label = "Home"] > div:hover {
    background-image: url("https://raw.githubusercontent.com/catppuccin/discord/master/assets/popcat.gif");
    background-blend-mode: normal;
    background-size: contain;
}

div[aria-label = "Home"] > div:hover > svg {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

div[aria-label = "Home"] > div > svg {
    color: white;
    stroke: black;
    stroke-width: 0.3px;
}
**/
