.theme-dark {
    --header-primary: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --header-secondary: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
    --text-normal: hsl(210,calc(var(--saturation-factor, 1)*2.9%),86.7%);
    --text-muted: hsl(214,calc(var(--saturation-factor, 1)*4%),65.3%);
    --text-link: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);
    --text-positive: hsl(139,calc(var(--saturation-factor, 1)*51.6%),52.2%);
    --text-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --text-danger: hsl(359,calc(var(--saturation-factor, 1)*82%),73.9%);
    --text-brand: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --interactive-normal: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
    --interactive-hover: hsl(210,calc(var(--saturation-factor, 1)*2.9%),86.7%);
    --interactive-active: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --interactive-muted: hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);
    --background-primary: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
    --background-secondary: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    --background-secondary-alt: hsl(220,calc(var(--saturation-factor, 1)*6.8%),17.3%);
    --background-tertiary: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --background-accent: hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);
    --background-floating: hsl(225,calc(var(--saturation-factor, 1)*7.7%),10.2%);
    --background-nested-floating: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    --background-mobile-primary: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
    --background-mobile-secondary: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    --chat-background: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
    --chat-border: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --chat-input-container-background: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
    --background-modifier-hover: hsla(217,calc(var(--saturation-factor, 1)*7.6%),33.5%,0.4);
    --background-modifier-active: hsla(217,calc(var(--saturation-factor, 1)*7.6%),33.5%,0.48);
    --background-modifier-selected: hsla(217,calc(var(--saturation-factor, 1)*7.6%),33.5%,0.6);
    --background-modifier-accent: hsla(217,calc(var(--saturation-factor, 1)*7.6%),33.5%,0.48);
    --info-positive-background: hsla(139,calc(var(--saturation-factor, 1)*47.3%),43.9%,0.1);
    --info-positive-foreground: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --info-positive-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --info-warning-background: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --info-warning-foreground: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --info-warning-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --info-danger-background: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --info-danger-foreground: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --info-danger-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --info-help-background: hsla(197,calc(var(--saturation-factor, 1)*100%),47.8%,0.1);
    --info-help-foreground: hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
    --info-help-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --status-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --status-positive-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --status-warning-background: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --status-warning-text: hsl(0,calc(var(--saturation-factor, 1)*0%),0%);
    --status-danger-background: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-danger-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --status-danger: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --status-positive: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --status-warning: hsl(38,calc(var(--saturation-factor, 1)*95.7%),54.1%);
    --button-danger-background: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*56.3%),40.4%);
    --button-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.4%),35.1%);
    --button-danger-background-disabled: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-positive-background: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-positive-background-hover: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.9%),22.2%);
    --button-positive-background-disabled: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-secondary-background: hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);
    --button-secondary-background-hover: hsl(213,calc(var(--saturation-factor, 1)*5%),42.9%);
    --button-secondary-background-active: hsl(218,calc(var(--saturation-factor, 1)*4.6%),46.9%);
    --button-secondary-background-disabled: hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);
    --button-outline-danger-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-danger-border: hsl(359,calc(var(--saturation-factor, 1)*82.6%),59.4%);
    --button-outline-danger-background: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,0);
    --button-outline-danger-background-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-text-hover: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-danger-border-hover: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-danger-background-active: hsl(359,calc(var(--saturation-factor, 1)*56.7%),48%);
    --button-outline-danger-text-active: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-danger-border-active: hsl(359,calc(var(--saturation-factor, 1)*66.7%),54.1%);
    --button-outline-positive-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-positive-border: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
    --button-outline-positive-background: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,0);
    --button-outline-positive-background-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-text-hover: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-positive-border-hover: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
    --button-outline-positive-background-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-positive-text-active: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-positive-border-active: hsl(138,calc(var(--saturation-factor, 1)*46.8%),24.3%);
    --button-outline-brand-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-brand-border: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,0);
    --button-outline-brand-background-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-text-hover: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-brand-border-hover: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);
    --button-outline-brand-background-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-brand-text-active: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-brand-border-active: hsl(235,calc(var(--saturation-factor, 1)*51.4%),52.4%);
    --button-outline-primary-text: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-primary-border: hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);
    --button-outline-primary-background: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,0);
    --button-outline-primary-background-hover: hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);
    --button-outline-primary-text-hover: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-primary-border-hover: hsl(217,calc(var(--saturation-factor, 1)*7.6%),33.5%);
    --button-outline-primary-background-active: hsl(213,calc(var(--saturation-factor, 1)*5%),42.9%);
    --button-outline-primary-text-active: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --button-outline-primary-border-active: hsl(213,calc(var(--saturation-factor, 1)*5%),42.9%);
    --modal-background: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
    --modal-footer-background: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    --scrollbar-thin-thumb: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --scrollbar-thin-track: hsla(0,calc(var(--saturation-factor, 1)*0%),0%,0);
    --scrollbar-auto-thumb: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --scrollbar-auto-track: hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
    --scrollbar-auto-scrollbar-color-thumb: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --scrollbar-auto-scrollbar-color-track: hsl(223,calc(var(--saturation-factor, 1)*6.9%),19.8%);
    --input-background: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --input-placeholder-text: hsl(216,calc(var(--saturation-factor, 1)*2.1%),53.9%);
    --logo-primary: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
    --control-brand-foreground: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --control-brand-foreground-new: hsl(235,calc(var(--saturation-factor, 1)*86.1%),77.5%);
    --background-mentioned: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.1);
    --background-mentioned-hover: hsla(38,calc(var(--saturation-factor, 1)*95.7%),54.1%,0.08);
    --background-message-hover: hsla(240,calc(var(--saturation-factor, 1)*11.1%),1.8%,0.07);
    --background-message-automod: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.05);
    --background-message-automod-hover: hsla(359,calc(var(--saturation-factor, 1)*82.6%),59.4%,0.1);
    --background-message-highlight: hsla(235,calc(var(--saturation-factor, 1)*86.1%),77.5%,0.08);
    --background-message-highlight-hover: hsla(235,calc(var(--saturation-factor, 1)*86.1%),77.5%,0.06);
    --channels-default: hsl(223,calc(var(--saturation-factor, 1)*3.4%),60.2%);
    --channel-icon: hsl(213,calc(var(--saturation-factor, 1)*4.1%),57.5%);
    --channel-text-area-placeholder: hsl(218,calc(var(--saturation-factor, 1)*4.6%),46.9%);
    --channeltextarea-background: hsl(218,calc(var(--saturation-factor, 1)*7.9%),27.3%);
    --activity-card-background: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --textbox-markdown-syntax: hsl(213,calc(var(--saturation-factor, 1)*4.1%),57.5%);
    --spoiler-revealed-background: hsl(220,calc(var(--saturation-factor, 1)*6.8%),17.3%);
    --spoiler-hidden-background: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --android-navigation-bar-background: hsl(220,calc(var(--saturation-factor, 1)*7.7%),7.6%);
    --android-ripple: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,0.07);
    --deprecated-card-bg: hsla(216,calc(var(--saturation-factor, 1)*7.2%),13.5%,0.6);
    --deprecated-card-editable-bg: hsla(216,calc(var(--saturation-factor, 1)*7.2%),13.5%,0.3);
    --deprecated-store-bg: hsl(220,calc(var(--saturation-factor, 1)*7.7%),22.9%);
    --deprecated-quickswitcher-input-background: hsl(218,calc(var(--saturation-factor, 1)*4.6%),46.9%);
    --deprecated-quickswitcher-input-placeholder: hsla(0,calc(var(--saturation-factor, 1)*0%),100%,0.3);
    --deprecated-text-input-bg: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --deprecated-text-input-border: hsla(0,calc(var(--saturation-factor, 1)*0%),0%,0.3);
    --deprecated-text-input-border-hover: hsl(240,calc(var(--saturation-factor, 1)*11.1%),1.8%);
    --deprecated-text-input-border-disabled: hsl(216,calc(var(--saturation-factor, 1)*7.2%),13.5%);
    --deprecated-text-input-prefix: hsl(210,calc(var(--saturation-factor, 1)*2.9%),86.7%);
}
