& {
  // Globally flip to white (Discord light mode uses in places where contrast is good)
  --white: #{$crust} !important;
  --white-500: #{$crust} !important;
}

// Exception
div[class*="tooltipGrey_"] {
  --white-500: #{$text};
  --white: #{$text};
}
