.bd-settings-title {
  color: $text;
}

.bd-switch {
  &-body {
    --switch-color: #{$surface2};
  }

  input:checked + .bd-switch-body {
    --switch-color: #{$green};

    svg.bd-switch-symbol path {
      fill: darken($green, 40%);
    }
  }
}

.bd-button {
  background-color: $brand;
  color: $crust;

  &.bd-button-danger {
    background-color: $red;
  }
}

.bd-controls > .bd-addon-button svg {
  fill: $crust;
}

.bd-addon-views .bd-view-button.selected {
  background-color: $brand;

  svg {
    fill: $crust;
  }
}
