// filled buttons and badges should have crust text
.mapped-lookFilled {
  &.mapped-colorBrand,
  &.mapped-colorBrandNew,
  &.mapped-colorLink,
  &.mapped-colorYellow,
  &.mapped-colorRed,
  &.mapped-colorGreen {
    color: $crust;

    // darken the nitro button too
    svg.mapped-premiumIcon {
      color: darken($pink, 20%);
    }

    // spinner color
    .mapped-spinnerItem {
      background-color: $crust;
    }

    .mapped-defaultColor {
      color: $crust;
    }
  }

  // ...unless it's primary
  &.mapped-colorPrimary {
    color: $text;
  }
}

// buttons in sidebar when in calls
div.mapped-actionButtons {
  .mapped-button.mapped-buttonColor,
  .mapped-button .mapped-buttonColor {
    background-color: $surface1;

    &.mapped-buttonActive {
      background-color: $green;
      color: $crust;

      .mapped-buttonContents {
        color: $crust;

        svg {
          color: $crust;
        }
      }
    }
  }
}

// lookInverted buttons should have darker brand text
.mapped-lookInverted.mapped-colorBrand {
  color: var(--brand-experiment-600);

  // darken the nitro button too
  svg.mapped-premiumIcon {
    color: darken($pink, 15%);
  }
}

// lookLink + colorPrimary should be themed
.theme-dark,
.theme-light {
  .mapped-lookLink.mapped-colorPrimary {
    color: $text;
  }
  .mapped-lookFilled.mapped-colorTransparent {
    color: $text;
    background-color: $surface0;
  }
}

// dangerous button when hovered is colored properly
div.mapped-button.mapped-dangerous:hover {
  color: darken($red, 10%);
}

// make all selected radio buttons's text crust
div[role="radio"].mapped-selected {
  color: $crust;

  // make the allow radio button's bg to the correct green
  &.mapped-allow {
    background-color: $green;
  }
}
//nonspecific radio buttons
.mapped-container[style*="background-color: var(--green-360)"] {
  --green-360: #{$green}; //vencord plugin settings
  background-color: $green !important;
}
.mapped-container[style*="background-color: var(--primary-400)"],
.mapped-container[style*="background-color: rgb(130, 133, 143)"] {
  background-color: $crust !important; //used in a lot of places
}
// vencord spotify plugin button theming support (uses vencord-specific classes)
.vc-spotify-button-row .vc-spotify-button {
  &.vc-spotify-shuffle-on,
  &.vc-spotify-repeat-context,
  &.vc-spotify-repeat-track {
    color: var(--interactive-normal);
  }
  &.vc-spotify-repeat-off,
  &.vc-spotify-shuffle-off {
    color: var(--text-muted);
  }
}

// these badges appear in the emoji/sticker picker
.mapped-topGuildEmojiBadge {
  background: linear-gradient(268.26deg, $peach, $red 102.45%);

  * {
    color: $crust !important;
  }
}

.mapped-newlyAddedBadge {
  background: linear-gradient(268.26deg, $teal, $green 102.45%);

  * {
    color: $crust !important;
  }
}

//revert nitro icon on nitro subscribe button on external emoji
.mapped-lookFilled .mapped-premiumSubscribeButton > .mapped-premiumIcon {
  color: $crust !important;
}
