.mapped-chatContent {
  div.mapped-wrapperAudio,
  div.mapped-imageWrapper {
    div.mapped-audioControls,
    div.mapped-videoControls {
      background-color: #{adjust-color($mantle, $alpha: -0.2)};

      svg.mapped-controlIcon {
        opacity: 1;
        color: $subtext1;
      }
    }
  }

  // new message ruler
  #---new-messages-bar {
    span.mapped-unreadPill {
      color: $crust;
    }
  }

  // new message bar
  div.mapped-newMessagesBar {
    button {
      color: $crust;
    }
  }

  // text input area
  div.mapped-channelTextArea {
    div.mapped-buttons * {
      color: var(--interactive-normal) !important;
    }
  }

  // reactions
  [id^="message-reactions-"] {
    div.mapped-reaction {
      background-color: $surface0;
      &:hover {
        background-color: var(--brand-experiment-20a);
        border-color: var(--brand-experiment-30a);
      }
    }
  }

  // chat header
  div.mapped-container.mapped-header {
    div.mapped-addReactButton,
    div.mapped-buttons:not(.mapped-lookBlank) div.mapped-contents {
      background: $surface0;
      &:hover {
        background-color: var(--brand-experiment-20a);
        border-color: var(--brand-experiment-30a);
      }
    }
  }

  // "Messages failed to load" bar
  div.mapped-messagesErrorBar div.mapped-barButtonBase {
    color: $crust;
  }

  // code stuff
  // [class*="after_inlineCode-"],
  // [class*="before_inlineCode-"],
  // .mapped-syntaxBefore,
  // .mapped-syntaxAfter {
  //   color: $overlay0;
  // }

  .mapped-inlineCode {
    background: $surface0;
  }

  code.inline {
    background: $surface0;
  }

  div.mapped-container div.mapped-cardWrapper {
    div.mapped-completed {
      svg.mapped-checkmark {
        background-color: $green;
        color: $crust;
      }
    }
  }
}

// arrow when someone joins
div[style*="d1382af8d9e755bc44811b1fd92990a8.svg"] {
  background-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m18 0h-18v18h18z'/%3E%3Cpath d='m0 8h14.2l-3.6-3.6 1.4-1.4 6 6-6 6-1.4-1.4 3.6-3.6h-14.2' fill='%23#{str-slice(inspect($green), 2)}'/%3E%3C/g%3E%3C/svg%3E") !important;
  filter: none !important;
}

// server boost icon... again
main.mapped-chatContent div[id^="message-content-"] svg.mapped-icon {
  > path[d="M4 0L0 4V8L4 12L8 8V4L4 0ZM7 7.59L4 10.59L1 7.59V4.41L4 1.41L7 4.41V7.59Z"],
  > path[d="M2 4.83V7.17L4 9.17L6 7.17V4.83L4 2.83L2 4.83Z"] {
    color: $pink;
  }
}

// spoiler messages
.theme-dark,
.theme-light {
  span.mapped-spoilerText,
  div.mapped-spoilerText {
    background-color: $surface0;

    &.mapped-hidden {
      background-color: $surface2;

      &:hover {
        background-color: lighten($surface2, 5%);
      }
    }
  }

  div.mapped-spoilerContainer {
    div.mapped-spoilerWarning {
      color: $text;
      background-color: adjust-color($crust, $alpha: -0.3);
    }

    &:hover {
      div.mapped-spoilerWarning {
        color: $text;
        background-color: $crust;
      }
    }

    article.mapped-embedFull {
      border-color: $surface2;
    }
  }
}

// cooldown text
div.mapped-cooldownWrapper {
  color: var(--text-muted) !important;
}

// autocomplete chat textboxes
div.mapped-autocomplete {
  background-color: $mantle !important;

  div.mapped-categoryHeader {
    background-color: $mantle !important;
  }
  div.mapped-autocompleteRowSubheading {
    background-color: transparent;
  }
  div.mapped-autocompleteRowContentSecondary {
    background-color: transparent;
  }
  div.mapped-usageWrapper > div.mapped-title {
    color: $brand !important;
  }

  strong {
    color: $brand !important;
  }
}

// emoji button
div.mapped-channelTextArea button.mapped-emojiButton {
  background: transparent !important;
}

// upload???
.mapped-uploadDropModal div.mapped-inner {
  border-color: $crust;

  * {
    color: $crust !important;
  }
}

// forums
div.mapped-chat > div.mapped-content > div.mapped-container {
  background-color: $base;

  // forum icons
  div.mapped-pinIcon,
  div.mapped-stepStatus {
    > svg > path {
      fill: $subtext0;
    }

    // .. but turn the checkmarks crust for the steps
    &[style*="background-color: var(--status-positive-background);"]
      > svg
      > path {
      fill: $crust;
    }
  }

  div.mapped-countText {
    color: $crust;
  }

  // discord icon
  svg.mapped-discordIcon {
    background-color: $brand;
    color: $crust;
  }

  // new badge
  div.mapped-newBadge {
    background-color: $lavender !important;
    color: $crust;
  }

  div.mapped-mainCard {
    background-color: $surface0;
  }
}

div.mapped-sidebar > section.mapped-panels {
  svg.mapped-buttonIcon,
  div.mapped-buttonContents {
    fill: $text;
    color: $text;
  }
}

[data-list-id^="forum-channel-list-"] {
  div.mapped-body > div.mapped-tags div.mapped-pill {
    background-color: $mantle;
  }

  // new post button
  button.mapped-submitButton.mapped-colorBrand {
    background-color: $brand;
    color: $crust;
  }
}

// fix the sidebar on smaller servers
div.mapped-chat
  > div.mapped-content
  main.mapped-chatContent
  + div.mapped-container {
  background-color: var(--background-secondary);
}

// calls
div.mapped-callContainer {
  .mapped-controlIcon {
    color: $subtext1;

    &:hover {
      color: $text;
    }
  }

  div.mapped-tile,
  div.mapped-background {
    background-color: $base !important;
  }

  div.mapped-overlayTitle,
  svg.mapped-status {
    background-color: $surface0;
    color: $text;
  }

  div.mapped-header,
  svg.mapped-selectedIcon {
    color: $text;
  }

  div.mapped-button.mapped-contents,
  button.mapped-cta,
  button.mapped-participantsButton {
    background-color: $surface0;
    color: $text;
  }

  div.mapped-videoControls {
    div.mapped-children {
      div.mapped-playingText {
        color: $subtext1;
      }
    }

    div.mapped-toolbar {
      svg.mapped-controlIcon {
        color: var(--interactive-normal);
      }

      div.mapped-streamQualityIndicator div.mapped-liveQualityIndicator {
        background-color: $surface1 !important;

        div.mapped-qualityIndicator {
          color: $text;
        }

        svg.mapped-premiumStreamIcon {
          color: $text;
        }
      }

      div.mapped-liveIndicator div.mapped-live {
        background-color: $red !important;
        color: $crust !important;
      }
    }

    button.mapped-leftTrayIcon.mapped-buttonColor {
      background-color: $surface0;
      color: $text;
    }

    .mapped-colorable {
      &.mapped-red {
        background: $red;

        .mapped-centerIcon {
          color: $crust;
        }
      }

      &.mapped-primaryDark {
        background: $surface1;
        color: $text;

        .mapped-centerIcon {
          color: $text;
        }
      }

      &.mapped-white {
        color: $crust;
        background-color: $subtext1;

        .mapped-centerIcon {
          color: $crust;
        }

        &:hover,
        &.mapped-active {
          background: $text;
        }
      }
    }
  }
}

// gifts
div.mapped-giftCodeContainer .mapped-tile {
  background-color: $mantle;

  > .mapped-description {
    color: $text;
  }
}

// channels & roles
div.mapped-chat {
  // header
  section.mapped-header {
    background-color: $mantle;
  }

  div.mapped-content.mapped-container {
    background-color: $mantle;

    div.mapped-container {
      background-color: $mantle;
    }

    div.mapped-search {
      background-color: $base !important;

      input::placeholder {
        color: $overlay0;
      }
    }

    div.mapped-browser {
      div.mapped-content div.mapped-container {
        background-color: $base;
      }
    }

    div.mapped-scrollerContainer {
      background-color: $mantle;

      div.mapped-checkIcon[style*="opacity: 1;"] > svg > path {
        fill: $crust;
      }
    }

    div[role="tablist"] {
      background-color: $mantle;
      border-bottom: 2px solid $surface0;

      .mapped-textBadge {
        color: $crust;
      }
    }
  }
}

div.mapped-chat {
  // Search Box
  section.mapped-title div.mapped-searchBar span.mapped-search {
    background-color: $surface0;
    color: $text;
  }

  // Search Results Active Button
  nav.mapped-pageControl div.mapped-roundButton.mapped-activeButton span {
    color: $crust;
  }
}

div.mapped-chat {
  // Forum Gallery View
  li.mapped-mainCard.mapped-container {
    background-color: $surface0;

    &:hover {
      background-color: $surface1;
    }

    div.mapped-contentPreview {
      background-color: $base;
      border: none;

      div.mapped-textContentFooter {
        background: none;
      }
    }

    div.mapped-tags {
      div.mapped-tagPill {
        background-color: #{adjust-color($surface1, $alpha: -0.2)};
      }
    }
  }

  // Empty Pages
  div.mapped-emptyPage {
    background-color: $base;
  }

  // Stupid gradient
  div.mapped-innerHeader:after {
    background: none;
  }
}

// spotify listen along invite
[id*="message-accessories-"] > .mapped-invite {
  background-color: $base;
  .mapped-inFront.mapped-header {
    color: $subtext0;
  }
  .mapped-partyStatus {
    color: $text;
  }
}
