[class^="chatContent"] {
  div[class*="wrapperAudio_"],
  div[class*="imageWrapper_"] {
    div[class*="audioControls"],
    div[class*="videoControls_"] {
      background-color: #{adjust-color($mantle, $alpha: -0.2)};

      svg[class*="controlIcon_"] {
        opacity: 1;
        color: $subtext1;
      }
    }
  }

  // new message ruler
  #---new-messages-bar {
    span[class^="unreadPill"] {
      color: $crust;
    }
  }

  // new message bar
  div[class^="newMessagesBar"] {
    button {
      color: $crust;
    }
  }

  // text input area
  div[class^="channelTextArea"] {
    div[class^="buttons"] * {
      color: var(--interactive-normal) !important;
    }
  }

  // reactions
  [id^="message-reactions"] {
    div[class^="reaction"] {
      background-color: $surface0;
      &:hover {
        background-color: var(--brand-experiment-20a);
        border-color: var(--brand-experiment-30a);
      }
    }
  }
  // Super reactions and beta badge
  div[class*="isBurstReactionPicker_"] {
    box-shadow:
      0 0 0 2px $mauve,
      0 0 16px $lavender;
  }
  div[class^="navButtonSuperReactActive"],
  div[class^="navButtonSuperReactActive"]:hover {
    background: linear-gradient(270deg, $pink, $lavender 33.63%, $mauve);
    color: $crust;
  }
  div[class*="betaTag_"] {
    background: var(--brand-experiment) !important;
    color: $crust;
  }
  button[class*="navButtonActive_"],
  button[class*="navButtonActive_"]:hover {
    color: $crust;
  }
  div[class*="colorPremiumGradient_"][class*="focused_"] {
    background: linear-gradient(270deg, $pink, $lavender 33.63%, $mauve);
    color: $crust !important;
  }
  div[class*="isBurstReactionPicker"] {
    border: none;
    box-shadow:
      0 0 0 2px $mauve,
      0 0 16px $lavender;
  }
  // Voice messages play button
  div[class*="playButtonContainer_"] {
    background: var(--brand-experiment) !important;
  }
  svg[class*="playIcon_"] path {
    fill: $crust;
  }

  // chat header
  div[class^="container"][class*="header_"] {
    div[class*="addReactButton_"],
    div[class^="buttons"]:not([class*="lookBlank_"]) div[class^="contents"] {
      background: $surface0;
      &:hover {
        background-color: var(--brand-experiment-20a);
        border-color: var(--brand-experiment-30a);
      }
    }
  }

  // "Messages failed to load" bar
  div[class^="messagesErrorBar"] div[class*="barButtonBase_"] {
    color: $crust;
  }

  // code stuff
  // [class*="after_inlineCode_"],
  // [class*="before_inlineCode_"],
  // [class^="syntaxBefore"],
  // [class^="syntaxAfter"] {
  //   color: $overlay0;
  // }

  [class*="inlineCode_"] {
    background: $surface0;
  }

  code.inline {
    background: $surface0;
  }

  div[class^="container"] div[class^="cardWrapper"] {
    div[class*="completed_"] {
      svg[class^="checkmark"] {
        background-color: $green;
        color: $crust;
      }
    }
  }
}

// arrow when someone joins
div[style*="d1382af8d9e755bc44811b1fd92990a8.svg"] {
  background-image: url("data:image/svg+xml,%3Csvg height='18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m18 0h-18v18h18z'/%3E%3Cpath d='m0 8h14.2l-3.6-3.6 1.4-1.4 6 6-6 6-1.4-1.4 3.6-3.6h-14.2' fill='%23#{str-slice(inspect($green), 2)}'/%3E%3C/g%3E%3C/svg%3E") !important;
  filter: none !important;
}

// server boost icon... again
main[class^="chatContent"] div[id^="message-content"] svg[class^="icon"] {
  > path[d="M4 0L0 4V8L4 12L8 8V4L4 0ZM7 7.59L4 10.59L1 7.59V4.41L4 1.41L7 4.41V7.59Z"],
  > path[d="M2 4.83V7.17L4 9.17L6 7.17V4.83L4 2.83L2 4.83Z"] {
    color: $pink;
  }
}

// spoiler messages
.theme-dark,
.theme-light {
  span[class^="spoilerContent"],
  div[class^="spoilerContent"] {
    background-color: $surface0;

    &[class*="hidden"] {
      background-color: $surface2;

      &:hover {
        background-color: lighten($surface2, 5%);
      }
    }
  }

  span[class*="spoilerMarkdownContent"] {
    h1 > span {
      background-color: $surface0;
    }

    &[class*="hidden"] h1 > span {
      background-color: $surface2;

      &:hover {
        background-color: lighten($surface2, 5%);
      }
    }
  }

  div[class^="spoilerContainer"] {
    div[class^="spoilerWarning"] {
      color: $text;
      background-color: adjust-color($crust, $alpha: -0.3);
    }

    &:hover {
      div[class^="spoilerWarning"] {
        color: $text;
        background-color: $crust;
      }
    }

    article[class*="embedFull_"] {
      border-color: $surface2;
    }
  }
}

// cooldown text
div[class^="cooldownWrapper"] {
  color: var(--text-muted) !important;
}

// autocomplete chat textboxes
div[class*="autocomplete_"] {
  background-color: $mantle !important;

  div[class*="categoryHeader"] {
    background-color: $mantle !important;
  }
  div[class*="autocompleteRowSubheading"] {
    background-color: transparent;
  }
  div[class*="autocompleteRowContentSecondary"] {
    background-color: transparent;
  }
  div[class^="usageWrapper"] > div[class*="title_"] {
    color: $brand !important;
  }

  strong {
    color: $brand !important;
  }
}

// emoji button
div[class^="channelTextArea"] button[class*="emojiButton_"] {
  background: transparent !important;
}

// upload???
[class^="uploadDropModal"] {
  &[class*="error"] {
    background-color: $red;
  }

  div[class^="inner"] {
    border-color: $crust;

    * {
      color: $crust !important;
    }
  }
}

// forums
div[class^="chat"] > div[class^="content"] > div[class^="container"] {
  div[class^="chatContainer"] > div[class^="container"] {
    background-color: $base;
  }

  div[class^="grid"][class*="scrollerBase"],
  > div[class^="chatContainer"] > div[class^="container"] {
    background-color: $base;
  }

  // forum icons
  div[class^="pinIcon"],
  div[class^="stepStatus"] {
    > svg > path {
      fill: $subtext0;
    }

    // .. but turn the checkmarks crust for the steps
    &[style*="background-color: var(--status-positive-background);"]
      > svg
      > path {
      fill: $crust;
    }
  }

  div[class*="countText"] {
    color: $crust;
  }

  // discord icon
  svg[class^="discordIcon"] {
    background-color: $brand;
    color: $crust;
  }

  // new badge
  div[class^="newBadge"] {
    background-color: $lavender !important;
    color: $crust;
  }

  div[class*="mainCard_"] {
    background-color: $surface0;
  }
}

div[class^="sidebar"] > section[class^="panels"] {
  svg[class*="buttonIcon_"],
  div[class*="buttonContents"] {
    fill: $text;
    color: $text;
  }
}

[data-list-id^="forum-channel-list"] {
  div[class^="body"] > div[class^="tags"] div[class*="pill"] {
    background-color: $mantle;
  }

  // new post button
  button[class^="submitButton"][class*="colorBrand"] {
    background-color: $brand;
    color: $crust;
  }
}

// Bot slash command field
div[class^="applicationCommand"] {
  span[class*="selectedPill_"] {
    border-color: $brand !important;
  }

  span[class*="erroredPill_"] {
    border-color: $red !important;
  }
}

// fix the sidebar on smaller servers
div[class^="chat"]
  > div[class^="content"]
  main[class^="chatContent"]
  + div[class^="container"] {
  background-color: var(--background-secondary);
}

// fix error border when attempting to start a thread with no message
[class*="channelTextAreaInnerError_"] {
  border: 1px solid $red !important;
}

// Threads header icon
div[class^="messagesWrapper"]
  ol[class^="scrollerInner"]
  div[class^="container"]
  div[class^="iconWrapper"] {
  background-color: $brand;
  svg[class^="icon"] {
    color: $crust;
  }
}

// Jump to Present bar text
[class*="barButtonBase_"] {
  color: $crust !important;
}

// calls
div[class^="callContainer"] {
  [class*="controlIcon_"] {
    color: $subtext1;

    &:hover {
      color: $text;
    }
  }

  div[class*="tile_"],
  div[class*="background_"] {
    background-color: $base !important;
  }

  div[class*="overlayTitle"],
  svg[class*="status_"] {
    background-color: $surface0;
    color: $text;
  }

  div[class*="header"],
  svg[class*="selectedIcon_"] {
    color: $text;
  }

  div[class*="button_"][class*="contents_"],
  button[class*="cta_"],
  button[class*="participantsButton_"] {
    background-color: $surface0;
    color: $text;
  }

  // call quality and nitro indicator
  div[class^="indicators"] {
    div[class^="liveQualityIndicator"] {
      background-color: $red !important;

      svg[class^="premiumStreamIcon"] {
        color: $crust;
      }
    }
  }

  div[class^="videoControls"] {
    div[class^="children"] {
      div[class*="playingText_"] {
        color: $subtext1;
      }
    }

    div[class^="bottomControls"] {
      button[class^="textButton"] {
        color: $text;
        background-color: $surface1;
      }
    }

    div[class^="toolbar"] {
      svg[class^="controlIcon"] {
        color: var(--interactive-normal);
      }

      div[class^="streamQualityIndicator"] div[class^="liveQualityIndicator"] {
        background-color: $surface1 !important;

        div[class^="qualityIndicator"] {
          color: $text;
        }

        svg[class^="premiumStreamIcon"] {
          color: $text;
        }
      }

      div[class^="liveIndicator"] div[class^="live"] {
        background-color: $red !important;
        color: $crust !important;
      }
    }

    button[class*="leftTrayIcon_"][class*="buttonColor_"] {
      background-color: $surface0;
      color: $text;
    }

    div[class^="badge"] {
      color: $crust;
    }

    [class*="colorable_"] {
      &[class*="red_"] {
        background: $red;

        [class*="centerIcon_"] {
          color: $crust;
        }
      }

      &[class*="primaryDark_"] {
        background: $surface1;
        color: $text;

        [class*="centerIcon_"] {
          color: $text;
        }

        svg[class^="raisedHandButtonIcon"] {
          color: $text;
        }
      }

      &[class*="green_"] {
        background: $green;

        [class*="centerIcon_"] {
          color: $crust;
        }
      }

      &[class*="white_"] {
        color: $crust;
        background-color: $subtext1;

        [class*="centerIcon_"] {
          color: $crust;
        }

        &:hover,
        &[class*="active_"] {
          background: $text;
        }
      }
    }
  }
}

// Weird gradient thing on forums
div[class^="chat"] section[class*="forumOrHome_"] {
  background-color: $base;
  div[class^="upperContainer"] > div[class^="children"]:after {
    background: none;
  }
}

// gifts
div[class*="giftCodeContainer"] [class*="tile"] {
  background-color: $mantle;

  > [class*="description"] {
    color: $text;
  }
}

// channels & roles
div[class*="chat_"] {
  // header
  section[class*="header_"] {
    background-color: $mantle;
  }

  div[class*="content_"][class*="container_"] {
    background-color: $mantle;

    div[class*="container"] {
      background-color: $mantle;
    }

    div[class*="search_"] {
      background-color: $base !important;

      input::placeholder {
        color: $overlay0;
      }
    }

    div[class*="browser"] {
      div[class*="content"] div[class^="container"] {
        background-color: $base;
      }
    }

    div[class*="scrollerContainer_"] {
      background-color: $mantle;

      div[class*="checkIcon_"][style*="opacity: 1;"] > svg > path {
        fill: $crust;
      }
    }

    div[role="tablist"] {
      background-color: $mantle;
      border-bottom: 2px solid $surface0;

      [class*="textBadge_"] {
        color: $crust;
      }
    }
  }
}

div[class*="chat_"] {
  // Search Box
  section[class*="title"] div[class*="searchBar"] span[class*="search"] {
    background-color: $surface0;
    color: $text;
  }

  // Search Results Active Button
  nav[class*="pageControl"]
    div[class*="roundButton"][class*="activeButton"]
    span {
    color: $crust;
  }
}

div[class*="chat_"] {
  // Forum Gallery View
  li[class*="mainCard_"][class*="container"] {
    background-color: $surface0;

    &:hover {
      background-color: $surface1;
    }

    div[class*="contentPreview_"] {
      background-color: $base;
      border: none;

      div[class*="textContentFooter_"] {
        background: none;
      }
    }

    div[class*="tags_"] {
      div[class*="tagPill_"] {
        background-color: #{adjust-color($surface1, $alpha: -0.2)};
      }
    }
  }

  // Empty Pages
  div[class*="emptyPage"] {
    background-color: $base;
  }

  // Stupid gradient
  div[class*="innerHeader"]:after {
    background: none;
  }
}

// spotify listen along invite
[id*="message-accessories-"] > [class*="invite_"] {
  background-color: $base;
  [class*="inFront_"][class*="header_"] {
    color: $subtext0;
  }
  [class*="partyStatus_"] {
    color: $text;
  }
}

// typing indicator
[class^="avatar"] [class^="dots"] {
  color: $base;
}

// members tab
div[class^="chat"][class*="page_"] div[class^="content"][class*="container_"] {
  height: 100%;
}

// Server Guide
div[class^="chat"] div[class^="homeContainer"] {
  height: 100%;
}

// Vencord's deleted message plugin
.messagelogger-deleted div {
  color: $red !important;
}
.messagelogger-deleted div a {
  color: #{darken($red, 5%)} !important;
}

// Members sidebar
aside[class^="membersWrap"] {
  height: 100%;
}
