// online
rect[fill^="hsl(139"],
foreignObject[mask="url(#svg-mask-status-online)"] > div,
div[class^="dotOnline"],
i[class^="statusOnline-"] {
  fill: $green !important;
  background-color: $green !important;
}

// idle
rect[fill^="hsl(38"],
foreignObject[mask="url(#svg-mask-status-idle)"] > div {
  fill: $yellow !important;
  background-color: $yellow !important;
}

// dnd
rect[fill^="hsl(359"],
foreignObject[mask="url(#svg-mask-status-dnd)"] > div {
  fill: $red !important;
  background-color: $red !important;
}

// offline
rect[fill^="hsl(214"],
foreignObject[mask="url(#svg-mask-status-offline)"] > div,
div[class^="dotOffline"],
i[class^="statusOffline-"] {
  fill: $subtext0 !important;
  background-color: $subtext0 !important;
}

// dots in typing
svg[class^="cursorDefault-"] svg[class^="dots-"] circle {
  fill: $base !important;
}

// inline brand color styles...
[style*="background-color: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"] {
  background-color: $brand !important;
  color: $crust;
}

// for those roles that blend in the background
span[class*="username-"][style*="color: rgb(54, 57, 62)"],
span[class*="username-"][style*="color: rgb(53, 57, 64)"] {
  color: var(--background-primary) !important;
}

// server badges
div[class*="flowerStarContainer-"] {
  &[class*="boostedGuildTierIconBackgroundWithVisibleBanner"] {
    svg[class*="flowerStar-"] * {
      fill: #fff;
    }
    div[class^="childContainer-"] svg * {
      fill: $crust;
    }
  }

  &[class*="iconBackgroundTierOne-"],
  &[class*="iconBackgroundTierTwo-"]:not([class*="boostedGuildTierIconBackgroundWithVisibleBanner"]) {
    svg[class*="flowerStar-"] * {
      fill: $surface2;
    }
    div[class^="childContainer-"] svg * {
      fill: $text;
    }
  }

  &[class*="iconBackgroundTierThree-"] {
    svg[class*="flowerStar-"] * {
      fill: $pink;
    }
    div[class^="childContainer-"] svg * {
      fill: $crust;
    }
  }

  &[class*="verified-"] {
    svg[class*="flowerStar-"] * {
      fill: $green;
    }
    div[class^="childContainer-"] svg * {
      fill: $crust;
    }
  }

  &[class*="partnered-"] {
    svg[class*="flowerStar-"] * {
      fill: $brand;
    }
    div[class^="childContainer-"] svg * {
      fill: $crust;
    }
  }
}

// public / verified server info pill
div[class^="communityInfoPill"] {
  --background-accent: #{adjust-color($base, $alpha: -0.3)};
  color: $text;

  div[class^="text"] {
    font-weight: 500;
  }
}

// social links on "what's new"
a[class*="socialLink-"][href*="discord"] {
  color: $subtext0;
}

// upload icon
svg[class^="uploadIcon"] {
  color: $crust;
}

// empty states. why is it colored like this
.theme-dark,
.theme-light {
  h2[class^="emptyStateHeader-"] {
    color: $text;
  }

  p[class^="emptyStateSubtext-"] {
    color: $subtext0;
  }
}

// anything that uses a color background should have crust text
div[class*="unreadMentionsBar-"],
div[class*="unreadBar-"] {
  color: $crust;
}

// make number badges have crust text and bolder
div[class^="numberBadge-"] {
  font-weight: 700;
  color: $crust;
}

// spotify button on text area
button[class^="attachButton-"] {
  svg path[class^="attachButtonPlay-"] {
    color: $green;
  }
}

// speaking indicator
div[class*="avatarSpeaking-"] {
  -webkit-box-shadow: inset 0 0 0 2px $green,
    inset 0 0 0 3px var(--background-secondary);
  box-shadow: inset 0 0 0 2px $green,
    inset 0 0 0 3px var(--background-secondary);
}

div[class*="videoLayer-"] > div[class^="tileChild"] > div[class^="border"] {
  &[class*="speaking-"] {
    -webkit-box-shadow: inset 0 0 0 2px $green, inset 0 0 0 3px $green;
    bow-shadow: inset 0 0 0 2px $green, inset 0 0 0 3px $green;
  }

  // this is when emojis fly across the tile
  &[class*="voiceChannelEffect-"] {
    -webkit-box-shadow: inset 0 0 0 2px $brand, inset 0 0 0 3px $brand;
    bow-shadow: inset 0 0 0 2px $brand, inset 0 0 0 3px $brand;
  }
}
