// // streaming
// svg[fill="#593695"],
// rect[fill="#593695"],
// rect[fill="#5b3a91"] {
//   fill: $mauve !important;
// }
// I can't seem to get the indicator to appear?

$svg-platform-colors: (
  //online indicators (not var based)
  $yellow: #cc954c,
  $red: #d83a41,
  $green: #40a258,
  $overlay1: #82838b
);
@each $var, $color in $svg-platform-colors {
  svg [fill="#{$color}"],
  svg[fill="#{$color}"] {
    fill: #{$var};
  }
}

$div-platform-colors: (
  //online indicators (not var based)
  $yellow: "rgb(204, 149, 76)",
  $red: "rgb(216, 58, 65)",
  $green: "rgb(64, 162, 88)",
  $overlay1: "rgb(130, 131, 139)"
);
@each $var, $color in $div-platform-colors {
  div[style="background-color: #{$color};"] {
    background-color: #{$var} !important;
  }
}

div[class^="newMessagesBar_"] {
  --white: #{$crust};
  --button-secondary-background: var(--brand);
  --button-secondary-background-hover: var(--brand-530);
}

div[class^="expandedFolderBackground_"] {
  --background-mod-subtle: #{$mantle} !important;
}

// Switches
// Literally a single switch doesnt have the parent control_ class... so annoying
// div[class^="container_"][style*="opacity: 1; background-color:"]
div[class^="control_"] > div[class^="container_"] {
  background-color: #{$surface2} !important;

  > svg {
    > rect {
      fill: var(--white);
    }
    > svg > path {
      fill: #{$surface2};
    }
  }

  &[class*="checked_"] {
    background-color: var(--brand-500) !important;

    > svg {
      > rect {
        fill: #{$crust};
      }
      > svg > path {
        fill: var(--brand-500);
      }
    }
  }
}

// Vencord custom switches
div[class^="vc-addon-card"] > div div[class^="container_"] {
  --primary-400: #{$surface2};
  > svg > rect {
    fill: var(--white);
  }

  &[class*="checked_"] > svg > rect {
    fill: #{$crust};
  }
}

// system message icons
div[class^="message"][class*="isSystemMessage"] div[class^="icon"] {
  // User Joined icon
  &[style*="/assets/61ccab047dad737a.svg"] {
    @include recolor($green);
  }

  // Missed call icon
  &[style*="/assets/6f076a64de25de4b.svg"] {
    @include recolor($subtext0);
  }
}

img[class*="maskIcon"][src*="/assets/c8ae30e56eb87fdf.svg"] {
  @include recolor($crust);
}

// Quests page gradient
div[class^="overlay_"][class*="darkThemeGradient_"] {
  background: linear-gradient(
    0deg,
    #{$base} 0,
    adjust-color($surface0, $alpha: -0.5) 50%,
    adjust-color($surface1, $alpha: -1)
  );
}

// Forum tags and gallery gradient
div[class^="textContentFooter_"] {
  background: linear-gradient(
    0deg,
    $base,
    adjust-color($surface0, $alpha: -0.03) 36px,
    adjust-color($surface1, $alpha: -0.6)
  ) !important;
  [class*="tagPill_"] {
    background-color: #{adjust-color($surface1, $alpha: -0.1)};
  }
}

// Universally style inline styles
[style*="color: white"] {
  color: var(--white) !important;
}
