.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
  color: #{$peach};
}

.hljs-attr,
.hljs-attribute,
.hljs-class.hljs-title,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #{$yellow};
}

.hljs-built_in,
.hljs-deletion {
  color: #{$maroon};
}

.hljs-doctag,
.hljs-literal,
.hljs-meta.hljs-meta-string,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
  color: #{$teal};
}

.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
  color: #{$green};
}

.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
  color: #{$blue};
}
