$svgColor: (
  "tier1ProfilePerk": (
    color: $blue,
  ),
  "tier1BoostPerk": (
    color: $pink,
  ),
  "tier1CustomEmojiPerk": (
    color: $yellow,
  ),
  "tier1UploadPerk": (
    color: $lavender,
  ),
  "tier1StreamPerk": (
    color: $green,
  ),
  "threadIcon": (
    color: $text,
  ),
  "premiumIcon": (
    color: $pink,
  ),
  "gameIcon": (
    color: $text,
  ),
  "currentTierIcon": (
    color: $pink,
  ),
  "tier3Icon": (
    color: $pink,
  ),
  "searchIcon": (
    color: $subtext0,
  ),
  "upsellIcon": (
    color: $pink,
  ),
);

@each $class, $color in $svgColor {
  & {
    svg[class*="#{$class}_"] {
      color: #{map-get($color, color)} !important;
    }
  }
}
