$svgColor: (
  "tier1ProfilePerk": (
    color: $blue,
  ),
  "tier1BoostPerk": (
    color: $pink,
  ),
  "tier1CustomEmojiPerk": (
    color: $yellow,
  ),
  "tier1UploadPerk": (
    color: $lavender,
  ),
  "tier1StreamPerk": (
    color: $green,
  ),
  "guildBoostingIcon": (
    color: $pink,
  ),
  "guildSubscriptionSlotIcon": (
    color: $pink,
  ),
  "guildSubscriberCountIcon": (
    color: $pink,
  ),
  "gemWithLabel": (
    color: $pink,
  ),
  "gemWithoutLabel": (
    color: $overlay1,
  ),
  "memberBadgeIcon": (
    color: $pink,
  ),
  "stickerIcon": (
    color: $mauve,
  ),
  "audioQualityIcon": (
    color: $sapphire,
  ),
  "uploadSizeIcon": (
    color: $pink,
  ),
  "threadIcon": (
    color: $teal,
  ),
  "premiumIcon": (
    color: $pink,
  ),
  "gameIcon": (
    color: $text,
  ),
  "tierMarkerLabelPlusIcon": (
    color: $pink,
  ),
  "currentTierIcon": (
    color: $pink,
  ),
  "tier3Icon": (
    color: $pink,
  ),
  "searchIcon": (
    color: $subtext0,
  ),
);

@each $class, $color in $svgColor {
  .theme-dark,
  .theme-light {
    svg[class*="#{$class}-"] {
      color: #{map-get($color, color)} !important;
    }
  }
}
