$imgContent: (
  "lockIcon": (
    icon:
      "data:image/svg+xml,%3Csvg height='14' viewBox='0 0 10 14' width='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m553 515h-6v-1c0-1.654 1.346-3 3-3s3 1.346 3 3zm-4 6h2v-4h-2zm1-12c-2.762 0-5 2.238-5 5v1 4 2c0 1.104.896 2 2 2h6c1.104 0 2-.896 2-2v-2-4-1c0-2.762-2.238-5-5-5z' fill='%23#{str-slice(inspect($green), 2)}' fill-rule='evenodd' transform='translate(-545 -509)'/%3E%3C/svg%3E",
  ),
);

@each $class, $icon in $imgContent {
  [class*="#{$class}-"] {
    content: url("#{map-get($icon, icon)}") !important;
  }
}
