nav.mapped-guilds {
  // server icons
  foreignObject > div[data-list-item-id^="guildsnav_"] {
    background-color: lighten($base, 2%);

    &:hover,
    &.mapped-selected {
      > div.mapped-childWrapper {
        color: $crust;
        font-weight: 600;
      }
    }
  }

  // lightens home nav bg
  div[data-list-item-id="guildsnav___home"] {
    --background-primary: #{lighten($base, 3%)};
  }

  // lightens folder wrapper bg
  span.mapped-expandedFolderBackground {
    background-color: lighten($base, 3%);
  }
  div.mapped-folder.mapped-hover {
    background-color: lighten($base, 8%);
  }

  // create server/discovery
  div[data-list-item-id="guildsnav___create-join-button"] svg > path,
  div[data-list-item-id="guildsnav___guild-discover-button"] svg > path {
    fill: $green;
  }
}

// server list icons
div.mapped-upperBadge {
  > div.mapped-iconBadge path {
    color: $crust;
  }

  div.mapped-participating {
    background: $green;
  }
}

div.mapped-lowerBadge div.mapped-iconBadge path {
  color: $crust;
}
