// settings
div[class^="sidebarRegion-"] {
  div[class^="premiumTab-"] {
    > div > svg > path {
      fill: $pink;
    }

    > div[class*="selected"] {
      color: $crust;

      svg > path {
        fill: $crust;
      }
    }
  }
}

div[class^="contentRegion-"] {
  // #my-account-tab {
  //     div[class^="userSettingsSecurity-"] {
  //         h5::after {
  //             content: " ";
  //             z-index: 10;
  //             margin-right: 4px;
  //             width: 10px;
  //             height: 14px;
  //             top: 2px;
  //             background-image: url("data:image/svg+xml,%3Csvg height='14' viewBox='0 0 10 14' width='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m553 515h-6v-1c0-1.654 1.346-3 3-3s3 1.346 3 3zm-4 6h2v-4h-2zm1-12c-2.762 0-5 2.238-5 5v1 4 2c0 1.104.896 2 2 2h6c1.104 0 2-.896 2-2v-2-4-1c0-2.762-2.238-5-5-5z' fill='%23#{str-slice(inspect($green), 2)}' fill-rule='evenodd' transform='translate(-545 -509)'/%3E%3C/svg%3E");
  //         }
  //     }
  // }

  #appearance-tab,
  #accessibility-tab,
  [id="voice-&-video-tab"] {
    [class^="bar-"],
    [class^="markDash-"] {
      background: $surface1;
    }
  }

  [id="privacy-&-safety-tab"] {
    div[class^="radioBar-"] {
      &[style*="hsl(139,"] {
        border-color: $green;
      }

      &[style*="hsl(37,"] {
        border-color: $yellow;
      }

      &[style*="hsl(359,"] {
        border-color: $red;
      }
    }
  }

  #nitro-server-boost-tab {
    circle[class^="circleProgress-"] {
      color: $pink;
    }

    div[class*="gemIndicatorContainer-"] {
      background-color: $base;

      div[class^="tierLabel-"] {
        color: $subtext1;
      }
    }
  }

  #subscriptions-tab {
    [class^="sectionAccountCredit-"],
    [class^="subscriptionDetails-"] {
      border-color: var(--background-modifier-accent);
    }
  }

  #library-inventory-tab {
    div[class^="promotionIcon-"] {
      background-color: $base;
    }
  }

  #billing-tab {
    [class*="Divider"] {
      border-color: var(--background-modifier-accent);
    }

    div[class^="defaultIndicator-"] {
      color: $text;
      background-color: $surface1;
    }

    div[class*="summaryInfo"],
    [class^="paymentHeader-"] {
      color: $text;
      border-color: var(--background-modifier-accent);
    }

    div[class^="premiumIndicator-"] {
      color: $crust;
    }

    div[class^="paymentPane-"],
    div[class*="paginator-"],
    div[class*="payment-"] {
      background-color: $surface0;
      color: $text;
    }

    div[class^="expandedInfo-"] {
      background-color: $surface1;
    }

    [class*="paymentText-"] {
      color: $subtext1;
    }

    div[class^="codeRedemptionRedirect-"] {
      background-color: $mantle;
      color: $text;
      border-color: $surface0;
    }
  }

  [id="voice-&-video-tab"] {
    div[class^="backgroundOptionRing-"] {
      border-color: $brand;
    }
  }

  #keybinds-tab {
    div[class^="keybindShortcut-"] > span[class^="key-"] {
      color: $crust;

      svg > g {
        fill: $crust;
      }
    }
  }

  #game-activity-tab {
    div[class*="nowPlayingAdd-"],
    div[class*="lastPlayed-"],
    div[class*="overlayStatusText-"] {
      color: var(--text-muted);
    }

    div[class*="activeGame-"][class*="nowPlaying"] * {
      color: $crust;

      svg > g > path {
        fill: $crust;
      }
    }

    input[class^="gameName-"] {
      color: $text;
    }

    input[class*="gameNameInput-"] {
      &:hover,
      &:focus {
        background-color: $mantle;
        border-color: #{adjust-color($mantle, $alpha: -0.7)};
      }
    }

    div[class*="game-"] {
      -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-accent);
      box-shadow: 0 1px 0 0 var(--background-modifier-accent);
    }
  }

  // Voice & Audio checks
  section[class^="inputSensitivityToggle-"] {
    div[class*="speaking-"] {
      background: $green !important;
    }
  }

  div[class*="reactionMe-"] {
    background-color: $surface0 !important;
  }

  // toggles in preferencs
  // checked
  div[class^="control-"] > div[class*="checked-"],
  div[class^="sensitivity-"] div[class*="checked-"] {
    background-color: $green !important;

    // svg[class^="slider-"] {
    //     > rect {
    //         fill: $base;
    //     }

    //     > svg > path {
    //         fill: $green;
    //     }
    // }
  }

  // unchecked
  div[class^="control"] {
    > div[style*="background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%)"] {
      background-color: $surface2 !important;
    }

    svg[class^="slider-"] > svg > path {
      fill: darken($green, 40%) !important;
    }
  }
}

.bd-settings-title {
  color: $text;
}

.bd-switch {
  &-body {
    --switch-color: #{$surface2};
  }

  input:checked + .bd-switch-body {
    --switch-color: #{$green};

    svg.bd-switch-symbol path {
      fill: darken($green, 40%);
    }
  }
}

.bd-button {
  background-color: $brand;
  color: $crust;

  &.bd-button-danger {
    background-color: $red;
  }
}

.bd-controls > .bd-addon-button svg {
  fill: $crust;
}

.bd-addon-views .bd-view-button.selected {
  background-color: $brand;

  svg {
    fill: $crust;
  }
}

div[class^="perksModal"] {
  background-color: $base;

  li[class^="perk"] {
    background-color: $mantle;

    svg {
      color: $pink;
    }
  }

  svg[class^="giftIcon"] {
    color: $crust;
  }

  div[class^="tierHeaderUnlocked"] {
    background-image: linear-gradient(90deg, $blue, $mauve);
    color: $base;
  }

  div[class^="tierUnlocked"],
  div[class^="tierMarkerBackground"] {
    background-color: $base;
  }

  div[class^="barBackground"],
  div[class^="tierMarkerInProgress"],
  div[class^="tierBody"] {
    background-color: $crust;
  }

  div[class^="tierMarkerInProgress"] [class^="currentTierIcon"] {
    color: $pink;
  }

  div[class^="barForeground"],
  div[class^="tierMarkerAccomplished"] {
    background-color: $pink;
  }

  svg[class^="currentTierIcon"] {
    color: $base;
  }

  div[class*="tierMarkerLabelText"],
  svg[class^="tierLock"] {
    color: var(--text-muted);
  }

  div[class*="selectedTier"] div[class*="tierMarkerLabelText"] {
    color: var(--text-normal);
  }

  div[class^="tierHeaderLocked"] {
    background-color: darken($crust, 5%);
    color: var(--text-muted);
  }

  svg[class*="unlocked"] {
    color: $green;
  }
}

// boost progress bar
div[class^="sidebar-"] div[class^="container"] {
  div[class^="progressBar-"] {
    background: linear-gradient(90deg, $blue, $mauve);
  }

  &:hover {
    div[class^="progressBar-"] {
      background: linear-gradient(
        90deg,
        hsl(221, 70%, 55.5%),
        $mauve 34%,
        $blue 67%,
        $mauve
      );
    }
  }

  div[class^="divider-"] {
    border-color: var(--background-modifier-accent);
  }
}

div[class^="pageWrapper-"] {
  background: $base !important;
}

// public server home
div[class^="homeContainer-"] {
  background: $base !important;

  > div[class^="homeContent-"] div[class*="card-"] {
    background: $surface0 !important;
  }
}

// the header for the public server home
section[class^="title-"] {
  background: $mantle !important;
}

div[class^="categoryItem-"][class*="selectedCategoryItem"],
button[class*="lookFilled"] div[class*="addButton"] {
  // color when selected or if button
  color: $crust !important;
}

// new label
div[class^="itemInner-"] div[class^="new-"] > div[class*="newText-"] {
  color: $crust !important;
}

// student hubs
section[class^="guildListSection-"] {
  div[class^="guildList"]:first-child {
    div[class^="iconContainer-"] {
      background-color: $green;

      > div[class^="icon-"] {
        background-image: url("data:image/svg+xml,%3Csvg fill='none' height='24' viewBox='0 0 25 24' width='25' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23#{str-slice(inspect($crust), 2)}'%3E%3Cpath clip-rule='evenodd' d='m13.25 18v-12h-1.5v12z' fill-rule='evenodd'/%3E%3Cpath clip-rule='evenodd' d='m7 12.75c-.69036 0-1.25.5596-1.25 1.25v4h-1.5v-4c0-1.5188 1.23122-2.75 2.75-2.75h11c1.5188 0 2.75 1.2312 2.75 2.75v4h-1.5v-4c0-.6904-.5596-1.25-1.25-1.25z' fill-rule='evenodd'/%3E%3Cpath d='m12.5 7c-1.3807 0-2.5-1.11929-2.5-2.5s1.1193-2.5 2.5-2.5 2.5 1.11929 2.5 2.5-1.1193 2.5-2.5 2.5z'/%3E%3Cpath d='m20 22c-1.3807 0-2.5-1.1193-2.5-2.5s1.1193-2.5 2.5-2.5 2.5 1.1193 2.5 2.5-1.1193 2.5-2.5 2.5z'/%3E%3Cpath d='m12.5 22c-1.3807 0-2.5-1.1193-2.5-2.5s1.1193-2.5 2.5-2.5 2.5 1.1193 2.5 2.5-1.1193 2.5-2.5 2.5z'/%3E%3Cpath d='m5 22c-1.38071 0-2.5-1.1193-2.5-2.5s1.11929-2.5 2.5-2.5 2.5 1.1193 2.5 2.5-1.11929 2.5-2.5 2.5z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
  }
}
