div[class^="layerContainer"] [role="menu"] {
  // make menu items readable when hovered
  --brand-experiment-560: var(--brand-experiment-25a);
  --brand-experiment-600: var(--brand-experiment);

  [class*="colorDefault"] {
    &[class*="colorBrand"] {
      color: $brand;
    }

    &[class*="focused"] {
      &:not([class*="colorDanger"]),
      [class*="checkbox-"] {
        color: var(--interactive-normal);
      }
    }

    &[role="menuitem"]:not([class*="colorDanger"]):hover {
      background: var(--background-accent);
      color: $crust;

      & [class*="subtext"] {
        color: $crust;
      }
    }

    // make active items have dark text
    &:active:not([class*="hideInteraction-"]) {
      color: var(--background-floating);

      [class*="check-"] {
        color: var(--interactive-normal);
      }

      [class*="checkbox-"] {
        color: var(--background-floating);
      }
    }
  }

  [class*="colorDanger"][class*="focused"],
  [class*="colorDefault"] [class*="check-"] {
    color: var(--background-floating);
  }

  #guild-header-popout-premium-subscribe {
    div[class^="iconContainer-"] > svg {
      color: $pink;
    }
  }
}

.theme-dark,
.theme-light {
  div[class^="layerContainer"]
    div[id^="popout_"]
    > div[class*="didRender-"]:not([class^="animatorBottom-"])
    > div {
    background-color: var(--background-floating);

    div[class*="flowerStarContainer-"] {
      svg[class*="flowerStar-"] * {
        fill: $brand;
      }
    }
  }
}

div[class*="recentMentionsPopout"] {
  div[class^="header-"] {
    div[class^="tabBar"] div[class^="tab"][class*="active-"] {
      color: $base;
    }

    div[class^="controls-"] {
      --background-secondary: #{$surface0};
      --background-primary: #{adjust-color($surface0, $alpha: -0.1)};
    }
  }

  div[class^="scroller-"] {
    [role="button"] {
      --background-tertiary: #{adjust-color($subtext0, $alpha: -0.85)};
      --background-floating: #{adjust-color($subtext0, $alpha: -0.88)};

      div[class*="jumpButton-"] {
        background-color: $surface0;
      }
    }
  }
}

div[class*="rolesList"] {
  // make box lighter
  div[class^="role-"],
  button[class^="addButton-"] {
    background-color: lighten($mantle, 4%);
  }

  div[class^="role-"] {
    span[class^="roleCircle-"] {
      // default roles
      &[style*="background-color: rgb(185, 187, 190)"] {
        background-color: $subtext0 !important;
      }

      // base color roles
      &[style*="background-color: rgb(54, 57, 62)"],
      &[style*="background-color: rgb(53, 57, 64)"] {
        background-color: $base !important;
      }
    }
  }
}

div[class^="layerContainer"] {
  > div[class^="layer"] {
    // reaction popout
    div[class^="reactors"] {
      background-color: var(--background-primary);
    }

    div[class^="scroller"] {
      background-color: var(--background-secondary);
    }

    div[class*="reactorDefault"] {
      -webkit-box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
      box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
    }

    div[class*="reactionSelected"] {
      background-color: var(--background-modifier-selected);
    }
  }
}

// gif/sticker/emoji section
section[class^="positionContainer-"] {
  // colors tab when active
  button[class*="navButtonActive"] {
    background-color: $brand;
    color: $crust;
  }
}

#emoji-picker-tab-panel {
  // more transparent to make things more bearable
  [class*="stickerInspected-"] [class^="inspectedIndicator"],
  [class^="emojiItem-"][class*="emojiItemSelected-"] {
    background-color: var(--brand-experiment-25a);
  }
}

.theme-light {
  //   color: $text;

  > div[class^="focusLock"]
    > div[class^="root"]
    > div[class^="container"]
    div[class*="footer"] {
    //     background-color: $mantle;

    &[class*="footerSeparator-"] {
      box-shadow: inset 0 1px 0 $surface0;
      -webkit-box-shadow: inset 0 1px 0 $surface0;
    }
  }

  > div[class^="focusLock"] > div[class^="root"] {
    box-shadow: 0 0 0 1px $surface0,
      0 2px 10px 0 hsla(0, calc(var(--saturation-factor, 1) * 0%), 0%, 0.1);
    -webkit-box-shadow: 0 0 0 1px $surface0,
      0 2px 10px 0 hsla(0, calc(var(--saturation-factor, 1) * 0%), 0%, 0.1);
  }

  &[class*="profileColors-"] {
    [class*="userTagUsernameBase-"],
    [class*="discrimBase-"],
    [class*="title-"],
    [class*="roles-"],
    [class*="defaultColor-"],
    [class*="markup-"],
    [class*="activityUserPopoutV2-"] *,
    [class*="customStatus-"] {
      color: unset !important;
    }
  }
}

div[class^="layerContainer"] {
  // right-click popups for guild, channels, and user
  #guild-header-popout,
  #guild-context,
  div[id^="channel-context"],
  div[id^="user-context"] {
    background: $crust;
  }

  > div[class*="layer"] {
    // search popout
    div[role="listbox"] {
      background-color: $mantle;

      div[role="option"] {
        &[aria-selected="true"] {
          background: $surface0;
        }

        svg[class*="selectedIcon"] circle {
          fill: $crust;
        }
      }
    }

    div[class^="focusLock"] {
      // create channel (modal) and stream popout (modalSize)
      div[class^="modal-"],
      div[class^="modalSize-"] {
        background-color: $mantle;
        li,
        p,
        span {
          color: $text;
        }
      }

      // their respective footers
      div[class*="footer"] {
        background-color: $crust;
      }

      // feature headers
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &[class^="fixed-"] {
          &:after {
            background-color: $red;
          }
          color: $red;
        }
      }

      div[class*="message-"] {
        background-color: $surface0;
      }
    }
  }

  // add game
  div[class^="addGamePopout-"] {
    background-color: $mantle;
  }

  div[class*="searchOption-"]::after,
  div[class*="option-"]::after,
  li[class*="option-"]::after {
    display: none;
  }

  div[class^="queryContainer"] {
    background-color: $crust;
    span[class^="key"] {
      color: $text;
      background-color: $base;
    }
  }

  // branded tooltips should have dark text
  [class*="tooltipBrand-"] {
    color: $crust;
  }

  // when hovering active threads
  div[class^="popout-"] div[class^="row"][role="button"] {
    &:hover {
      color: $crust;

      [class*="timestamp"] {
        color: $crust;
      }
    }
  }
}

// add account modal + cards
form[class*="card-"] {
  background-color: $base;
}

// user info
div[class*="userInfoSection-"] {
  div[class^="connectedAccountContainer-"] {
    background-color: adjust-color($surface0, $alpha: -0.55) !important;
  }
}

// emoji reactions in call
#emoji-picker-tab-panel {
  --background-floating: #{$surface0};
  --background-tertiary: #{$base};
  --background-secondary-alt: #{$base};

  + div[class^="slotsContainer-"] {
    background-color: $surface0;
  }

  div[class^="tooltipContainer-"] {
    label[class^="label-"] {
      &[class*="labelChecked-"] {
        background: -webkit-gradient(
          linear,
          right top,
          left top,
          from($pink),
          color-stop(33.33%, $mauve),
          to($blue)
        );
        background: linear-gradient(270deg, $pink, $mauve 33.33%, $blue);
      }

      // tada icon. help
      // img {
      //  display: none;
      // }
      // &::before {
      //   content: " ";
      //   // position: absolute;
      //   width: 23px;
      //   height: 22px;
      //   background-color: $text;
      //   -webkit-mask: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.39086 9.27673C4.52227 9.16577 4.69123 9.10946 4.86293 9.11939V9.11377C5.86899 9.11377 7.88391 10.4542 9.80329 12.486C12.102 14.914 13.3975 17.4151 12.7034 18.0699C12.5735 18.184 12.404 18.2425 12.2313 18.2329C12.2051 18.2329 12.1781 18.232 12.1505 18.2302L1.55782 21.3097C1.41159 21.3482 1.25768 21.3467 1.11223 21.3053C0.966779 21.2639 0.835146 21.1841 0.731124 21.0743C0.627101 20.9646 0.55452 20.8288 0.520987 20.6814C0.487454 20.5339 0.494204 20.3802 0.540528 20.2362L1.10363 18.6332L1.10254 18.6318L1.81352 16.6084L1.8144 16.6098L2.47994 14.7152L2.47949 14.7144L3.29726 12.3848L3.29796 12.3866L4.20508 9.80426C4.2047 9.57445 4.26439 9.39488 4.39017 9.27737L4.39052 9.27637L4.39086 9.27673ZM4.7675 9.66474C4.75928 9.67993 4.75299 9.69892 4.74875 9.72159L4.75319 9.72625C4.70163 9.97114 4.90778 10.6843 5.53261 11.7149C5.99799 12.4808 6.69493 13.4207 7.69012 14.473C9.65164 16.5469 11.4951 17.671 12.2314 17.671C12.2518 17.6744 12.2725 17.6757 12.2931 17.6748L12.3014 17.6735H12.3111C12.3173 17.6729 12.3236 17.6721 12.3298 17.671C12.4984 17.3591 11.8549 15.451 9.40716 12.8628C7.44563 10.7888 5.60213 9.66474 4.86304 9.66474C4.83143 9.65928 4.79911 9.65928 4.7675 9.66474Z' fill='currentColor'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.685 2.48326C17.4923 2.5636 17.2845 2.60131 17.0759 2.59379C16.8246 2.59053 16.5763 2.53802 16.3452 2.43923C16.3084 2.4175 16.2655 2.40821 16.2229 2.41272C16.1804 2.41723 16.1404 2.43532 16.1089 2.4643C16.0774 2.49327 16.056 2.53162 16.048 2.57366C16.0399 2.6157 16.0456 2.65921 16.0642 2.69777C16.2396 3.14675 16.5441 3.53372 16.9392 3.8098C17.3343 4.08589 17.8024 4.23872 18.2843 4.249C18.5606 4.25047 18.834 4.19372 19.0869 4.08246C19.3398 3.9712 19.5664 3.80792 19.752 3.60325C19.9376 3.39858 20.078 3.15712 20.164 2.89458C20.2501 2.63205 20.2799 2.35433 20.2514 2.07952C20.212 1.60391 20.0299 1.15127 19.7291 0.780758C19.4283 0.41025 19.0227 0.13911 18.5653 0.00277297C18.5279 -0.00353792 18.4894 0.000975075 18.4544 0.0157814C18.4194 0.0305878 18.3894 0.0550721 18.3678 0.0863568C18.3463 0.117642 18.3341 0.154427 18.3328 0.192388C18.3314 0.23035 18.3409 0.26791 18.3602 0.300655C18.4742 0.509968 18.5441 0.740491 18.5653 0.977917C18.5898 1.18524 18.5691 1.3954 18.5047 1.59398C18.4403 1.79255 18.3337 1.97485 18.1922 2.12835C18.0507 2.28185 17.8777 2.40292 17.685 2.48326ZM13.5841 15.7032L13.5582 16.9303C13.557 16.9887 13.5727 17.0461 13.603 17.0949C13.6332 17.1436 13.6768 17.1814 13.7277 17.2033L17.9084 18.9738C17.9482 18.9905 17.9911 18.9969 18.0337 18.9926C18.0763 18.9883 18.1173 18.9733 18.1533 18.9488C18.1894 18.9244 18.2195 18.8912 18.2412 18.852C18.2629 18.8129 18.2756 18.7688 18.2782 18.7234L18.3064 17.4988C18.3077 17.44 18.2919 17.3822 18.2611 17.3333C18.2303 17.2845 18.1861 17.2469 18.1345 17.2258L13.9538 15.4527C13.9141 15.436 13.8711 15.4296 13.8286 15.4339C13.786 15.4383 13.745 15.4533 13.7089 15.4777C13.6728 15.5021 13.6427 15.5353 13.621 15.5745C13.5993 15.6137 13.5867 15.6578 13.5841 15.7032ZM18.9586 14.3801C19.2396 14.4082 19.3745 14.2283 19.2227 14.0288L18.2167 12.7305L17.2134 11.4153C17.1346 11.3176 17.0271 11.2471 16.9061 11.2138C16.7851 11.1805 16.6566 11.1861 16.539 11.2298L13.133 13.3178C12.8969 13.4611 13.1667 13.818 13.5433 13.8546L18.9586 14.3801ZM10.8625 3.75757L9.30139 7.20238L7.9621 7.78981C7.8921 7.8207 7.8314 7.86938 7.78604 7.93101C7.74069 7.99264 7.71225 8.06506 7.70356 8.14108L7.32418 11.5724C7.31623 11.6483 7.3281 11.7249 7.35864 11.7949C7.38918 11.8648 7.43734 11.9256 7.49841 11.9714L8.80797 12.9325C8.86982 12.9772 8.9422 13.0051 9.01805 13.0135C9.09391 13.0219 9.17064 13.0104 9.24074 12.9803L12.3994 11.6061C12.4728 11.5753 12.5362 11.525 12.5828 11.4605C12.6294 11.3961 12.6574 11.32 12.6636 11.2407L13.043 7.81229C13.0506 7.73556 13.0376 7.65819 13.0056 7.58808C12.9735 7.51797 12.9233 7.45763 12.8603 7.41324L11.7165 6.57197L12.8297 4.12009C12.8506 4.07189 12.8596 4.01935 12.8558 3.96694C12.852 3.91453 12.8356 3.86381 12.808 3.81909C12.7804 3.77438 12.7424 3.737 12.6973 3.71014C12.6521 3.68328 12.6011 3.66774 12.5487 3.66484L11.1773 3.56929C11.1118 3.56427 11.0463 3.57968 10.99 3.6134C10.9336 3.64712 10.8891 3.69749 10.8625 3.75757ZM7.23835 5.59243L6.59404 5.73037L6.58639 5.74389C6.56751 5.77626 6.5553 5.81208 6.55048 5.84924C6.54565 5.8864 6.54831 5.92415 6.55829 5.96027L6.78872 6.65721C6.79867 6.69702 6.79978 6.73853 6.79197 6.77882C6.78416 6.81911 6.76762 6.8572 6.74352 6.89042C6.71941 6.92363 6.68832 6.95116 6.65244 6.97107C6.61655 6.99098 6.57674 7.00279 6.5358 7.00567L5.87259 6.9017C5.83783 6.89821 5.80274 6.9033 5.77041 6.91653C5.73807 6.92976 5.70947 6.95072 5.68712 6.97757L5.12508 7.57334C5.10381 7.60716 5.07172 7.6328 5.03403 7.64608C4.99634 7.65936 4.95526 7.65949 4.91749 7.64647C4.87971 7.63344 4.84745 7.60802 4.82596 7.57433C4.80446 7.54064 4.79499 7.50068 4.79909 7.46093V6.66002C4.80073 6.62634 4.79356 6.59281 4.77828 6.56275C4.763 6.53268 4.74015 6.50713 4.71198 6.48859L4.14993 6.16261C4.00942 6.08392 4.04315 5.83663 4.20333 5.74389L4.86654 5.3617C4.93161 5.31921 4.97865 5.25414 4.99862 5.17904L5.19814 4.38094C5.24311 4.18703 5.45387 4.10273 5.55223 4.23481L5.96252 4.79685C5.98106 4.82293 6.00724 4.84261 6.03744 4.85318C6.04383 4.85542 6.05034 4.85722 6.05691 4.8586L6.52175 1.60474C6.52898 1.55652 6.55095 1.51172 6.58467 1.4765C6.61838 1.44127 6.66218 1.41735 6.71003 1.40802L7.70485 1.19164C7.7434 1.18394 7.78326 1.18587 7.82088 1.19727C7.85851 1.20867 7.89273 1.22918 7.92053 1.25697C7.94833 1.28477 7.96884 1.319 7.98024 1.35663C7.99163 1.39425 7.99357 1.43411 7.98587 1.47266L7.42383 5.40695C7.41472 5.45275 7.39224 5.49481 7.35922 5.52782C7.32621 5.56084 7.28415 5.58332 7.23835 5.59243ZM20.6924 6.12678L20.6334 4.72167C20.6194 4.38163 20.1641 4.30014 19.855 4.54463L18.6044 5.66871C18.4864 5.77375 18.3324 5.82912 18.1745 5.82327L16.612 5.71086C16.241 5.68557 15.9066 6.07619 16.0499 6.35721L16.6457 7.5656C16.6728 7.62869 16.6826 7.69783 16.6742 7.76596C16.6658 7.8341 16.6395 7.89878 16.5979 7.95341L15.6846 9.29107C15.4654 9.60863 15.7155 9.94304 16.1061 9.85312L17.7248 9.47936C17.7937 9.46002 17.8661 9.45759 17.9361 9.47227C18.0061 9.48695 18.0714 9.5183 18.1267 9.56366L19.1271 10.4995C19.1995 10.5469 19.2819 10.577 19.3678 10.5873C19.4537 10.5977 19.5408 10.5881 19.6224 10.5593C19.704 10.5305 19.7779 10.4832 19.8382 10.4211C19.8985 10.3591 19.9437 10.284 19.9702 10.2016L20.3833 8.76837C20.4051 8.69619 20.4412 8.62913 20.4895 8.57119C20.5378 8.51326 20.5972 8.46563 20.6643 8.43115L22.1874 7.67239C22.5612 7.48411 22.609 7.04852 22.2802 6.92206L20.9116 6.4078C20.8512 6.38826 20.798 6.35103 20.7589 6.30094C20.7198 6.25084 20.6966 6.19017 20.6924 6.12678Z' fill='currentColor'/%3E%3C/svg%3E");
      // }
    }
  }
}

div[class*="keyboardShortcutsModal-"] {
  background-color: $mantle !important;

  div[class^="keybindShortcut-"] span[class^="key-"] {
    color: $crust;

    svg g {
      fill: $crust !important;
    }
  }
}
