// "spine" svgs before threads
svg[class^="spine-"] {
  color: $surface2;
}

// rainbow threads
ul[aria-label$=" threads"] > li:nth-child(1n) {
  --channels-default: #{mix($red, $text, 30%)};
  --interactive-hover: #{$red};
  --interactive-active: #{$red};
}

ul[aria-label$=" threads"] > li:nth-child(2n) {
  --channels-default: #{mix($peach, $text, 30%)};
  --interactive-hover: #{$peach};
  --interactive-active: #{$peach};
}

ul[aria-label$=" threads"] > li:nth-child(3n) {
  --channels-default: #{mix($yellow, $text, 30%)};
  --interactive-hover: #{$yellow};
  --interactive-active: #{$yellow};
}

ul[aria-label$=" threads"] > li:nth-child(4n) {
  --channels-default: #{mix($green, $text, 30%)};
  --interactive-hover: #{$green};
  --interactive-active: #{$green};
}

ul[aria-label$=" threads"] > li:nth-child(5n) {
  --channels-default: #{mix($blue, $text, 30%)};
  --interactive-hover: #{$sapphire};
  --interactive-active: #{$sapphire};
}

ul[aria-label$=" threads"] > li:nth-child(6n) {
  --channels-default: #{mix($mauve, $text, 30%)};
  --interactive-hover: #{$mauve};
  --interactive-active: #{$mauve};
}

// bot tag in sidebar
[class^="botText"] {
  color: $crust;
  font-weight: 600;
}

svg[class^="botTagVerified"] {
  color: $crust;
}
