.theme-dark,
.theme-light {
  div[class^="layerContainer"]
    div[id^="popout_"]
    > div[class*="didRender-"]
    > div {
    background-color: var(--background-floating);

    div[class*="flowerStarContainer-"] {
      svg[class*="flowerStar-"] * {
        fill: $brand;
      }
    }
  }
}
