.theme-light {
  //   color: $text;

  > div[class^="focusLock"]
    > div[class^="root"]
    > div[class^="container"]
    div[class*="footer"] {
    //     background-color: $mantle;

    &[class*="footerSeparator-"] {
      box-shadow: inset 0 1px 0 $surface0;
      -webkit-box-shadow: inset 0 1px 0 $surface0;
    }
  }

  > div[class^="focusLock"] > div[class^="root"] {
    box-shadow: 0 0 0 1px $surface0,
      0 2px 10px 0 hsla(0, calc(var(--saturation-factor, 1) * 0%), 0%, 0.1);
    -webkit-box-shadow: 0 0 0 1px $surface0,
      0 2px 10px 0 hsla(0, calc(var(--saturation-factor, 1) * 0%), 0%, 0.1);
  }
}
