div[class*="rolesList"] {
  // make box lighter
  div[class^="role-"],
  button[class^="addButton-"] {
    background-color: lighten($mantle, 4%);
  }

  div[class^="role-"] {
    span[class^="roleCircle-"] {
      // default roles
      &[style*="background-color: rgb(185, 187, 190)"] {
        background-color: $subtext0 !important;
      }

      // base color roles
      &[style*="background-color: rgb(54, 57, 62)"],
      &[style*="background-color: rgb(53, 57, 64)"] {
        background-color: $base !important;
      }
    }
  }
}
