div[class^="layerContainer"] {
  > div[class^="layer"] {
    // reaction popout
    div[class^="reactors"] {
      background-color: var(--background-primary);
    }

    div[class^="scroller"] {
      background-color: var(--background-secondary);
    }

    div[class*="reactorDefault"] {
      -webkit-box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
      box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
    }

    div[class*="reactionSelected"] {
      background-color: var(--background-modifier-selected);
    }
  }
}

// gif/sticker/emoji section
section[class^="positionContainer-"] {
  // colors tab when active
  button[class*="navButtonActive"] {
    background-color: $brand;
    color: $crust;
  }

  // more transparent to make things more bearable
  [class*="stickerInspected-"] [class^="inspectedIndicator"],
  [class^="emojiItem-"][class*="emojiItemSelected-"] {
    background-color: var(--brand-experiment-25a);
  }
}
