@import "components/variables";

@import "components/icons-bgImg";
@import "components/icons-imgContent";
@import "components/icons-svgBg";
@import "components/icons-svgColor";

@import "components/buttons";

@import "components/pages";

@import "components/navbar";
@import "components/sidebar";

@import "components/chat";

@import "components/popouts";

@import "components/details";
