@import "components/variables";

@import "components/icons-bgImg";
@import "components/icons-svgBg";
@import "components/icons-svgColor";

@import "components/buttons";

@import "components/pages";

@import "components/navbar";
@import "components/sidebar";

@import "components/chat";

@import "components/popouts";

@import "components/hljs";
@import "components/details";

@import "components/catppuccin-server";

div[class^="notice-"] {
  // background-color: $brand;

  div[class*="header-"] {
    color: $crust;
  }

  div[class^="closeButton-"] > svg > path {
    fill: $crust;
  }

  button[class^="button-"] {
    border-color: $crust;
    color: $crust;

    &:hover {
      background: darken($brand, 10%);
    }
  }
}

// check boxes
div[class^="checkbox-"][style*="border-color: var(--brand-experiment-400)"][style*="background-color: var(--brand-experiment-500)"] {
  background-color: $brand !important;
  border-color: transparent !important;

  svg > path {
    fill: $crust !important;
  }
}

// in DM -> select friends for group DM
div[class*="friendSelected"] {
  background: $surface0 !important;
}

// video chat
div[class*="videoGrid-"],
div[class^="callContainer-"] > div[class^="root-"] {
  background: $crust !important;
}

// add account modal + cards
form[class*="card-"] {
  background-color: $base !important;
}

// streaming badge. can't seem to patch it when it's enlarged?
div[class*="liveShapeRound-"],
div[class*="live-"][class*="badge-"] {
  background-color: $red !important;
  color: $crust !important;
}

// 'peopleList' background, friendslist, is not set via the variable
div[class^="base"] > div[class^="content"] > div[class^="container"] {
  background-color: $base !important;
}
