@use "sass:math";

$brand: $blue;

:root,
.theme-dark,
.theme-light,
// this changes the "create a server popout"
div[class^="layerContainer"] {
	--background-primary: #{$base};
	--background-secondary: #{$mantle};
	--background-secondary-alt: #{$mantle};
	--background-tertiary: #{$crust};
	--background-accent: #{$brand};

	--background-floating: #{darken($base, 3%)};
	--background-mentioned: #{adjust-color($brand, $alpha: -0.8)};
	--background-mentioned-hover: #{adjust-color($brand, $alpha: -0.85)};
	--background-modifier-accent: #{adjust-color($brand, $alpha: -0.75)};
	--background-modifier-active: #{adjust-color($text, $alpha: -0.84)};
	--background-modifier-hover: #{adjust-color($brand, $alpha: -0.92)};
	--background-modifier-selected: #{adjust-color($brand, $alpha: -0.76)};

	--activity-card-background: #{$base};
	--interactive-normal: #{$text};
	--interactive-muted: #{adjust-color($text, $alpha: -0.7)};
	--interactive-hover: #{$text};
	--interactive-active: #{$text};
	--channels-default: #{$subtext0};
	--channeltextarea-background: #{$mantle};

	--input-background: #{$crust};
	--modal-background: #{$base};

	--button-positive-background: #{$green};
	--button-positive-background-hover: #{darken($green, 10%)};
	--button-secondary-background: #{$brand};
	--button-secondary-background-disabled: #{$crust};

	--rs-online-color: #{$green};
	--rs-idle-color: #{$peach};
	--rs-dnd-color: #{$red};
	--rs-offline-color: #{$overlay0};
	--rs-invisible-color: #{$rosewater};
	--rs-streaming-color: #{$mauve};

	--button-danger-background: #{$red};
	--info-danger-background: #{$red};
	--info-danger-foreground: #{$text};
	--status-danger-background: #{$red};
	--status-danger-text: #{$text};
	--status-danger: #{$red};
	--status-warning: #{$peach};

	--info-warning-background: #{$peach};
	--info-warning-foreground: #{$base};
	--info-warning-text: #{$base};
	--info-positive-text: #{$green};
	--info-danger-text: #{$red};
	--info-help-text: #{$sapphire};
	--info-help-background: #{$mantle};
	--info-help-foreground: #{$crust};

	--status-warning-background: #{$peach};
	--status-positive-background: #{$green};
	--status-positive-text: #{$text};
	--status-positive: #{$green};

	--header-primary: #{$text};
	--header-secondary: #{darken($text, 6%)};
	--text-normal: #{$text};
	--text-muted: #{$subtext0};
	--text-link: #{$blue};
	--text-link-low-saturation: #{$sapphire};
	--text-positive: #{$green};
	--text-warning: #{$peach};
	--text-danger: #{$red};
	--text-brand: #{$brand};

	// weighted brand colors
	--brand-experiment: #{$brand};
	--brand-experiment-100: #{lighten($brand, math.div(90%, 2))};
	--brand-experiment-130: #{lighten($brand, math.div(85%, 2))};
	--brand-experiment-160: #{lighten($brand, math.div(80%, 2))};
	--brand-experiment-200: #{lighten($brand, math.div(75%, 2))};
	--brand-experiment-230: #{lighten($brand, math.div(70%, 2))};
	--brand-experiment-260: #{lighten($brand, math.div(65%, 2))};
	--brand-experiment-300: #{lighten($brand, math.div(60%, 2))};
	--brand-experiment-330: #{lighten($brand, math.div(50%, 2))};
	--brand-experiment-360: #{lighten($brand, math.div(40%, 2))};
	--brand-experiment-400: #{lighten($brand, math.div(30%, 2))};
	--brand-experiment-430: #{lighten($brand, math.div(20%, 2))};
	--brand-experiment-460: #{lighten($brand, math.div(10%, 2))};
	--brand-experiment-500: #{$brand};
	--brand-experiment-530: #{darken($brand, math.div(10%, 2))};
	--brand-experiment-560: #{darken($brand, math.div(20%, 2))};
	--brand-experiment-600: #{darken($brand, math.div(30%, 2))};
	--brand-experiment-630: #{darken($brand, math.div(40%, 2))};
	--brand-experiment-660: #{darken($brand, math.div(50%, 2))};
	--brand-experiment-700: #{darken($brand, math.div(60%, 2))};
	--brand-experiment-730: #{darken($brand, math.div(65%, 2))};
	--brand-experiment-760: #{darken($brand, math.div(70%, 2))};
	--brand-experiment-800: #{darken($brand, math.div(75%, 2))};
	--brand-experiment-830: #{darken($brand, math.div(80%, 2))};
	--brand-experiment-860: #{darken($brand, math.div(85%, 2))};
	--brand-experiment-900: #{darken($brand, math.div(90%, 2))};
	// similar to other brand colors, except alpha only
	--brand-experiment-05a: #{adjust-color($brand, $alpha: -0.95)};
	--brand-experiment-10a: #{adjust-color($brand, $alpha: -0.9)};
	--brand-experiment-15a: #{adjust-color($brand, $alpha: -0.85)};
	--brand-experiment-20a: #{adjust-color($brand, $alpha: -0.8)};
	--brand-experiment-25a: #{adjust-color($brand, $alpha: -0.75)};
	--brand-experiment-30a: #{adjust-color($brand, $alpha: -0.7)};
	--brand-experiment-35a: #{adjust-color($brand, $alpha: -0.65)};
	--brand-experiment-40a: #{adjust-color($brand, $alpha: -0.6)};
	--brand-experiment-45a: #{adjust-color($brand, $alpha: -0.55)};
	--brand-experiment-50a: #{adjust-color($brand, $alpha: -0.5)};
	--brand-experiment-55a: #{adjust-color($brand, $alpha: -0.45)};
	--brand-experiment-60a: #{adjust-color($brand, $alpha: -0.4)};
	--brand-experiment-65a: #{adjust-color($brand, $alpha: -0.35)};
	--brand-experiment-70a: #{adjust-color($brand, $alpha: -0.3)};
	--brand-experiment-75a: #{adjust-color($brand, $alpha: -0.25)};
	--brand-experiment-80a: #{adjust-color($brand, $alpha: -0.2)};
	--brand-experiment-85a: #{adjust-color($brand, $alpha: -0.15)};
	--brand-experiment-90a: #{adjust-color($brand, $alpha: -0.1)};
	--brand-experiment-95a: #{adjust-color($brand, $alpha: -0.05)};

	// scrollbars
	--scrollbar-thin-thumb: #{$brand};
	--scrollbar-thin-track: #{$mantle};
	--scrollbar-auto-thumb: #{$brand};
	--scrollbar-auto-track: #{$mantle};
	--scrollbar-auto-scrollbar-color-track: #{$brand};
	--scrollbar-auto-scrollbar-color-thumb: #{$mantle};

	--status-warning-text: hotpink;
}

// online state
rect[mask="url(#svg-mask-status-online)"] {
	fill: $green !important;
}
rect[mask="url(#svg-mask-status-idle)"] {
	fill: $peach !important;
}
rect[mask="url(#svg-mask-status-dnd)"] {
	fill: $red !important;
}
rect[mask="url(#svg-mask-status-offline)"] {
	fill: $surface2 !important;
}

// discovery
div[class^="pageWrapper-"] {
	background: $base !important;
}
// public server home
div[class^="homeContainer-"] {
	background: $base !important;
	> div[class^="homeContent-"] div[class*="card-"] {
		background: $surface0 !important;
	}
}
// the header for the public server home
section[class^="title-"] {
	background: $mantle !important;
}

// this one is e.g. when connecting to voice on a different client
div[class^="notice-"][class*="colorWarning-"] {
	background: $peach !important;
}
// notice when you have to complete steps befoer talking in a server
div[class^="notice-"] {
	background: $blue !important;
	* {
		color: $crust !important;
		border-color: $crust !important;
	}
}

// video chat
div[class*="videoGrid-"], div[class^="callContainer-"] > div[class^="root-"] {
	background: $crust !important;
}

// discord forums
// background
div[class^="chat"] > div[class^="content-"] > div[class^="container-"] {
	background-color: #{$crust};
}
section[aria-label="User area"] {
	svg[class*="buttonIcon-"],
	div[class*="buttonContents"] {
		fill: $text !important;
		color: $text !important;
	}
}

// selected server / discord logo wrapper
.wrapper-1BJsBx.selected-bZ3Lue > div[class^="childWrapper"] {
	background-color: $rosewater !important;
}

//-- buttons
// buttons are crust
button[class*="lookFilled"]:not([disabled]) {
	color: #{$crust} !important;
}
// buttons are crust
button[class*="lookFilled"]:disabled {
	color: #{$text} !important;
}

// -- and have $text foreground when inside the chat window (bots)
div[class^="chat"] {
	button[class*="lookFilled"] {
		color: #{$text} !important;
		background-color: #{$crust} !important;
	}
}

div[class*="reactionMe-"] {
	background-color: #{$surface0} !important;
}

// boost background
div[class^="root"] > div[class^="perksModal"] {
	background-color: $base !important;
}

// autocomplete chat textboxes
div[class*="autocomplete-"] {
	background-color: #{$mantle} !important;

	div[class*="categoryHeader"] {
		background-color: #{$mantle} !important;
	}
	div[class*="autocompleteRowSubheading"] {
		background-color: transparent;
	}
	div[class*="autocompleteRowContentSecondary"] {
		background-color: transparent;
	}
	div[class^="usageWrapper-"] > div[class*="title-"] {
		color: $brand !important;
	}
}

// keybinds in preferences
div[class^="keybindShortcut"] {
	> span {
		color: #{$mantle} !important;
	}
	svg * {
		fill: #{$mantle} !important;
	}
}

button[class*="colorRed"] {
	background-color: $red !important;
	border-color: darken($red, 2%) !important;
	color: $crust !important;
}

// toggles in preferencs
// checked
div[class^="control"] > div[class*="checked"] {
	background-color: #{$green} !important;
}
// unchecked
div[class^="control"] > div {
	background-color: #{$surface1} !important;
}
// colorBrandNew bs
*[class*="colorBrandNew"] {
	background-color: #{$brand} !important;
}

// popouts
div[class^="layerContainer"] {
	// right-click popups for guild, channels, and user
	#guild-header-popout,
	#guild-context,
	div[id^="channel-context"],
	div[id^="user-context"] {
		background: $crust !important;

		// hide the scroller, as it's the wrong color
		div[class^="scroller"] {
			overflow: hidden !important;
		}
	}

	> div[class^="layer"] {
		// search popout
		div[role="listbox"] {
			background-color: $mantle !important;
		}

		div[class^="focusLock"] {
			// create channel (modal) and stream popout (modalSize)
			div[class^="modal-"],
			div[class^="modalSize-"] {
				background-color: $mantle !important;
				li, p, span {
					color: $text !important;
				}
			}
			// their respective footers
			div[class*="footer"] {
				background-color: $crust !important;
			}

			// feature headers
			h1, h2, h3, h4, h5, h6 {
				&[class^="fixed-"] {
					&:after {
						background-color: $red !important;
					}
					color: $red !important;
				}
			}
		}
	}

	// add game
	div[class^="addGamePopout-"] {
		background-color: $mantle !important;
	}

	div[class*="searchOption-"]::after,
	div[class*="option-"]::after,
	li[class*="option-"]::after {
		display: none;
	}

	div[class^="queryContainer"] {
		background-color: #{$crust};
		span[class^="key"] {
			color: $text !important;
			background-color: $base !important;
		}
	}
}

div[class*="date-"] {
	color: $brand !important;
}

// 'peopleList' background, friendslist, is not set via the variable
div[class^="base"] > div[class^="content"] > div[class^="container"] {
	background-color: $base !important;
}

// the thin line in front of @ mentioned messages
div[class*="mentioned"]::before {
	background-color: adjust-color($brand, $alpha: -0.25) !important;
}

// server folder settings
div[class^="focusLock"] {
	> div[class^="root"] {
		background-color: $base !important;

		> div[class*="footer"] {
			background-color: $mantle !important;
		}
	}
}

// upload modal
div[class^="uploadModal"] {
	background-color: $base !important;

	> div[class^="footer"] {
		background-color: $mantle !important;
	}
}

// 'Add a server' popup - this uses the light theme by default.
// only the footer doesn't use css variables as of now.
.theme-light {
	color: $text !important;

	> div[class^="focusLock"]
		> div[class^="root"]
		> div[class^="container"]
		div[class*="footer"] {
		background-color: $mantle !important;
	}
}

// server list icons
div[class^="upperBadge"] {
	> div[class^="iconBadge"] path{
		color: $base !important;
	}
	div[class*="participating-"] {
		background: $green !important;
	}
}

div[class^="uploadIcon"] > div > svg > circle {
	fill: $brand !important;
}

// verified badges
div[class*="flowerStarContainer-"] {
	svg[class*="flowerStar-"] * {
		fill: $green !important;
	}
	div[class^="childContainer-"] svg * {
		fill: $base !important;
	}
}

// new message ruler
main[class^="chatContent"] {
	#---new-messages-bar {
		border-color: $red;
		span {
			background-color: $red;
			color: $crust;
			border-color: $red;
		}
		svg * {
			fill: $red;
			stroke: $red;
		}
	}
}

// spoiler messages
span[class^="spoilerText"] {
	&[aria-expanded="false"] {
		background-color: $surface2 !important;
	}
	&[aria-expanded="true"] {
		background-color: $surface0 !important;
	}
}

// user roles
div[class*="rolesList"] {
	div[class^="role"] {
		background-color: $crust !important;
	}
}

// add account modal + cards
form[class*="card-"] {
	background-color: $base !important;
}

// streaming badge
div[class*="liveShapeRound-"] {
	background-color: $red !important;
}

// rainbow threads
ul[aria-label$=" threads"] > li:nth-child(1n) {
	--channels-default: #{mix($red, $text, 30%)};
	--interactive-hover: #{lighten($red, 10%)};
	--interactive-active: #{lighten($red, 10%)};
}
ul[aria-label$=" threads"] > li:nth-child(2n) {
	--channels-default: #{mix($peach, $text, 30%)};
	--interactive-hover: #{lighten($peach, 10%)};
	--interactive-active: #{lighten($peach, 10%)};
}
ul[aria-label$=" threads"] > li:nth-child(3n) {
	--channels-default: #{mix($yellow, $text, 30%)};
	--interactive-hover: #{lighten($yellow, 10%)};
	--interactive-active: #{lighten($yellow, 10%)};
}
ul[aria-label$=" threads"] > li:nth-child(4n) {
	--channels-default: #{mix($green, $text, 30%)};
	--interactive-hover: #{lighten($green, 10%)};
	--interactive-active: #{lighten($green, 10%)};
}
ul[aria-label$=" threads"] > li:nth-child(5n) {
	--channels-default: #{mix($blue, $text, 30%)};
	--interactive-hover: #{lighten($sapphire, 10%)};
	--interactive-active: #{lighten($sapphire, 10%)};
}
ul[aria-label$=" threads"] > li:nth-child(6n) {
	--channels-default: #{mix($mauve, $text, 30%)};
	--interactive-hover: #{lighten($mauve, 10%)};
	--interactive-active: #{lighten($mauve, 10%)};
}

@import "_catppuccin-server";
