/**
 * @name Catppuccin Latte
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
**/

@use "sass:math";
@use "@catppuccin/palette/scss/latte" as *;
@use "@catppuccin/highlightjs/sass/theme";

.theme-dark,
.visual-refresh.theme-dark,
.visual-refresh .theme-dark {
  @import "@catppuccin/palette/scss/mocha";
  $brand: $blue;
  @import "components/lightfix";
}

.theme-light,
.visual-refresh.theme-light,
.visual-refresh .theme-light {
  $brand: $blue;

  // Globally flip to white (Discord light mode uses in places where contrast is good)
  --white: #{$crust} !important;
  --white-500: #{$crust} !important;

  @import "theme";

  @include theme.highlights("latte");
}
